/*=============================================
			Theme Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.tg-navigation > ul > li.tg-active > a,
.tg-navigation ul li a:hover,
.tg-guest .tg-message em,
.tg-btndropdown:hover,
.tg-hasdropdown .tg-hasdropdown:hover:before,
.tg-btn:hover,
.tg-joinustitle,
.tg-dropdownbox time strong,
.tg-dropdownbox ul li a:hover,
.tg-dropdownbox ul li a:hover i,
.tg-newsticker p time,
.tg-newsticker p:before,
.tg-feature:hover h3 a,
.tg-feature:hover .tg-btn,
.tg-jobsmetadata li a:hover,
.tg-jobsmetadata li a:hover i,
.tg-metadata li a:hover,
.tg-metadata li a:hover i,
.tg-directpost:hover .tg-jobhead h3 a,
.tg-email li a:hover,
.tg-footernav ul li a:hover,
.tg-footernav ul li.tg-active a,
.tg-postdate span,
.tg-subcategorycheckbox label:hover,
.tg-widgetcontent ul li a:hover,
.tg-widgetcontent ul li a:hover span,
.tg-widgetcontent ul li a:hover i,
.tg-navdetailpagetabs li a:hover,
.tg-navdetailpagetabs li.active a,
.tg-servicesinfo li:hover span i,
.tg-widgetcontent ul li .tg-postcontent h5 a:hover,
.tg-themelist li:hover,
.tg-threecolumns li:hover,
.tg-threecolumns li a:hover,
.tg-contactdetail li i,
.tg-collapsecontent ul li:hover span,
.tg-liststyletick li:before,
.tg-postdetail blockquote,
.tg-dashboardnav ul li.tg-active a,
.tg-dashboardnav ul li a:hover,
.tg-dashboardnav ul li.tg-active a i,
.tg-dashboardnav ul li a:hover i,
.tg-refresh.tg-update,
.tg-refresh.tg-update:hover,
.tg-percentage span,
.tg-followers span,
.tg-totalviews span,
.tg-badgemodalcontent h4,
.tg-badgemodalcontent .tg-subtitle,
.tg-dashboardtabnav li a:hover,
.tg-dashboardtabnav li.active a,
.tg-uiicons ul li:hover .fa-pencil,
.tg-pkgplanhead h4 span,
.tg-countdown .clock-item .text .val,
.tg-authorinformation a,
.tg-howitworksbox h3,
.tg-arrow i.fa,
.tg-howitsworktitle h3,
.tg-centericons .tg-howitworksbox .tg-servicseakerimg:after,
.tg-centericons .tg-howitworksbox .tg-servicseakerimg:before,
.tg-post:hover .tg-posttitle h3 a,
.tg-listdatastyle li span:first-child:hover,
.tg-postdetail .tg-posttitle h3,
.fc button .fc-icon:after,
.tg-visitreason .tg-rightbox time,
.tg-formprogressbar li.tg-active span,
.tg-dropdownmenu li.tg-active a,
.tg-fcol.tg-specialities ul li a:hover,
.tg-fcol.tg-specialities ul li a:hover:after{color: #00944A;}
/*=============================================
			Theme Background Color
=============================================*/
.tg-btn:hover,
.tg-btn.tg-active,
.tg-theme-tag,
.tg-loginbanner .tg-box,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page span:hover,
.tg-btnroundprev:hover,
.tg-btnroundnext:hover,
.tooltip .tooltip-inner,
.tg-postcontent:before,
.tg-blogposgrid .tg-post:hover .tg-postcontent:before,
.tg-navigation > ul > li:before,
.tg-subscribe,
.tg-iconfeatured,
.tg-filterbalenav li a:before,
.tg-formsearch fieldset .tg-btnformsearch,
.tg-category .tg-radio input[type=radio] + label:hover,
.tg-category .tg-radio input[type=radio]:checked + label,
.tg-themerangeslider .ui-slider-range,
.tg-btnfilter,
.tg-navdetailpagetabs li a:before,
.tg-formprogressbar li.tg-active:after,
.tg-datebox,
.tg-timeslots .tg-radio input[type="radio"]:checked + label,
.tg-servicesfeecollapse h3,
.tg-formfeedbacksearch button,
.tg-recommendedradio .tg-radio input[type="radio"] + label:hover,
.tg-recommendedradio .tg-radio input[type="radio"]:checked + label,
.tg-map-controls span:hover,
.tg-timelineblog figure,
.tg-medlinktimelinenav li a:after,
.tg-pagination ul li.tg-active a,
.tg-pagination ul li a:hover,
.tg-tag:hover,
.tg-monthlyviewstabnav li a:hover,
.tg-monthlyviewstabnav li.active a,
.tg-posttype li figure,
.tg-dashboardtabnav li a:before,
.tg-uploadingbar:after,
.tg-btnjoblocationeditdelete button:hover,
.tg-messagesnav li a:hover,
.tg-messagespagecount li a:hover,
.tg-btnview:hover,
.tg-btndelete:hover,
.tg-iosstylcheckbox input[type=checkbox]:checked + label,
.tg-actionnav li a:hover,
.tg-emailnav li a .tg-checkbox label:after,
.tg-btnactions a:hover,
.tg-btndownload,
.tg-appoinmentbox .tg-timeslots .tg-radio input[type=radio] + label:hover,
.tg-appoinmentbox .tg-timeslots .tg-radio input[type=radio]:checked + label,
.tg-post:hover .tg-postdate,
.tg-newsletter fieldset button,
.tg-postdetail .tg-postdate,
.fc-toolbar,
.fc-today.fc-state-highlight .fc-day-number,
.navbar-toggle,
.tg-dropdowarrow,
.fc-future:hover .fc-day-number,
.tg-appointmentapprove .tg-btn.tg-btnapprove,
.pin{background:#00944A;}
.tg-themescrollbar .mCSB_dragger .mCSB_dragger_bar,
.tg-btnactions a:hover{background:#00944A !important;}
/*=============================================
			Theme Border Color
=============================================*/
.tg-theme-tag:after,
.tg-theme-tag:before,
input:focus,
.select select:focus,
.form-control:focus,
.tg-bannercontent .tg-formsearch,
.tg-select select:focus,
.tg-btn,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page span:hover,
.tg-btnroundprev:hover,
.tg-btnroundnext:hover,
.tg-reviewerdpslider .owl-item figure:hover,
.tg-reviewerdpslider .owl-item.tg-active figure,
.tg-brands figure a:hover,
.tg-header,
.tg-subcategorycheckbox input[type=checkbox]:checked +  label span:first-child,
.tg-subcategorycheckbox label:hover span:first-child,
.tg-formprogressbar li.tg-active:before,
.tg-timeslots .tg-radio label,
.tg-recommendedradio .tg-radio label,
.tg-medlinktimelinenav li a:hover,
.tg-medlinktimelinenav li.active a,
.tg-iosstylcheckbox input[type=checkbox]:checked + label,
.clock-canvas:before,
.tg-dashboardbox.tg-appointmentdetailbox{border-color: #00944A;}
.tg-navpackageplans li a:hover,
.tg-navpackageplans li.active a{border-bottom-color: #00944A;}
.tg-navpackageplans li a:hover:after,
.tg-navpackageplans li.active a:after{border-top-color: #00944A;}
/*=============================================
			SVG Fill Color
=============================================*/
.tg-svginject .cls-1{fill: #00944A;}