
  
  
  * {
  box-sizing: border-box;
}
strong{
color:#fff;}
p {
  margin-top: 28px;
  margin-right: 0px;
  margin-bottom: 28px;
  margin-left: 0px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
   padding-left: 15px;
  padding-right: 15px;
}
.b2b-features-container p {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: left;
  font-size: 16px;
  line-height: 2;
}
b, strong {
  font-weight: bold;
}
.b2b-features-container p strong {
  font-weight: 700;
}
  
  
  
  
  article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
* {
  box-sizing: border-box;
}
.b2b-section-main {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 58px;
  padding-left: 14px;
  padding-right: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.b2b-section {
  background-color: rgb(255, 255, 255);
  overflow-x: auto;
  overflow-y: auto;
}
.b2b-homepage-prospect {
  background-image: linear-gradient(rgb(0, 148, 70) 0%, rgb(204, 236, 250) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  position: relative;
  display: flex;
  justify-content: center;
}
.b2b-homepage-prospect-content-placeholder {
  display: none;
}
.b2b-homepage-prospect-content {
  position: relative;
  margin-bottom: 14px;
}
h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-right: 0px;
  margin-bottom: 0.67em;
  margin-left: 0px;
  
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1, .h1 {
   font-size: 40px;
    line-height: 1.3;
}
h1, .b2b-title-1 {
  font-weight: 300;
  font-size: 26px;
  line-height: 1.4;
  margin-top: 28px;
  margin-bottom: 28px;
}
.dl-b2b-text-section-title {
  margin-top: 35px;
  margin-right: 14px;
  margin-bottom: 20px;
  margin-left: 14px;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(5, 150, 222);
}
.dl-b2b-text-section-title.dl-b2b-text-spaced {
  margin-bottom: 28px;
  line-height: 1.3;
}
.dl-b2b-text-white {
  color: rgb(255, 255, 255);
}
.b2b-prospect {
  max-width: 350px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  box-sizing: content-box;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
input {
  line-height: normal;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.form-group {
  margin-bottom: 10px;
  position: relative;
}
.hidden {
  display: none;
  visibility: hidden;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: none;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: initial, initial;
  transition-property: border-color, box-shadow;
  min-height: 44px;
}
.form-control:focus {
  border-top-color: rgb(217, 223, 226);
  border-right-color: rgb(217, 223, 226);
  border-bottom-color: rgb(217, 223, 226);
  border-left-color: rgb(217, 223, 226);
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px;
}
.form-control::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
}
.b2b-prospect .form-control, .b2b-prospect .dl-selector {
  min-height: 44px;
  box-shadow: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.b2b-prospect-name {
  display: flex;
}
.b2b-prospect-name div:first-child {
  margin-right: 10px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  clip: rect(0px 0px 0px 0px);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
abbr[title] {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: initial;
}
abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: rgb(153, 153, 153);
}
.dl-selector {
  position: relative;
  min-height: 40px;
  width: 100%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(217, 223, 226);
  border-right-color: rgb(217, 223, 226);
  border-bottom-color: rgb(217, 223, 226);
  border-left-color: rgb(217, 223, 226);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: rgb(67, 95, 113);
  font-size: 13px;
  font-weight: 400;
}
.dl-selector-hidden-input {
  position: absolute;
  display: block;
  width: 100%;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  z-index: -1;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: rgb(238, 238, 238);
  opacity: 1;
}
.form-control.dl-input {
  display: block;
  height: 44px;
  padding-top: 0px;
  padding-right: 14px;
  padding-bottom: 0px;
  padding-left: 14px;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(217, 223, 226);
  border-right-color: rgb(217, 223, 226);
  border-bottom-color: rgb(217, 223, 226);
  border-left-color: rgb(217, 223, 226);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgb(255, 255, 255);
  line-height: 20px;
  color: rgb(67, 95, 113);
  box-shadow: none;
  box-sizing: border-box;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: box-shadow;
}
.form-control.dl-input.dl-input-focused, .form-control.dl-input:focus {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(5, 150, 222);
  border-right-color: rgb(5, 150, 222);
  border-bottom-color: rgb(5, 150, 222);
  border-left-color: rgb(5, 150, 222);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  box-shadow: rgba(67, 95, 113, 0.2) 0px 0px 4px;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}
.form-control.dl-input::-webkit-input-placeholder {
  font-style: normal;
  color: rgba(67, 95, 113, 0.7);
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: color;
}
.form-control.dl-input::placeholder {
  font-style: normal;
  color: rgba(67, 95, 113, 0.7);
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: color;
}
.dl-input.dl-selector-label {
  cursor: pointer;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  height: 40px;
  line-height: 40px;
}
.dl-input.dl-selector-label:focus {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: rgba(5, 150, 222, 0.03);
}
.dl-selector-arrow {
  position: absolute;
  top: calc(50% - 2px);
  right: 14px;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(67, 95, 113, 0.4);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  pointer-events: none;
}
textarea {
  overflow-x: auto;
  overflow-y: auto;
}
textarea.form-control {
  height: auto;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.dl-b2b-button {
  display: inline-block;
  padding-top: 12px;
  padding-right: 50px;
  padding-bottom: 12px;
  padding-left: 50px;
  text-align: center;
  vertical-align: middle;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  transition-property: background-color;
  cursor: pointer;
  user-select: none;
  width: 100%;
  max-width: 320px;
  background-color: rgb(5, 150, 222);
}
.dl-b2b-button-accent {
  background-color: rgb(253, 196, 0);
}
.dl-b2b-button-block {
  display: inline-block;
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  max-width: none;
}
a {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: transparent;
  color: rgb(42, 148, 228);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
a:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
a, a:hover, a:focus {
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.b2b-homepage-prospect-patient {
  padding-top: 7px;
  padding-right: 0px;
  padding-bottom: 7px;
  padding-left: 0px;
  margin-top: 14px;
  display: block;
  font-size: 14px;
}




button, input, optgroup, select, textarea {
  color: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input {
  line-height: normal;
}
* {
  box-sizing: border-box;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.dl-b2b-button {
  display: inline-block;
  padding-top: 12px;
  padding-right: 50px;
  padding-bottom: 12px;
  padding-left: 50px;
  text-align: center;
  vertical-align: middle;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  transition-property: background-color;
  cursor: pointer;
  user-select: none;
  width: 100%;
  max-width: 320px;
  background-color: rgb(5, 150, 222);
}
.dl-b2b-button-accent {
  background-color: rgb(0, 148,10);
}
.dl-b2b-button-block {
  display: inline-block;
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  max-width: none;
  
}

dl-b2b-button-accent:not([disabled]):active, 
.dl-b2b-button-accent:not([disabled]):focus,
 .dl-b2b-button-accent:not([disabled]):hover {
    background-color: rgb(0, 123, 70);
}

*
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
label.error {
  position: absolute;
  z-index: 5;
  background-color: rgb(230, 38, 56);
  color: rgb(255, 255, 255);
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  right: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.blocImgTextDiv h2, .blocPresse h2, .blocTemoignagesPrat h2 {
  color: rgb(28, 120, 183);
  font-size: 21px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h2, .h2 {
  font-size: 30px;
}
ul, ol {
  margin-top: 0px;
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
}
.blocImgTextDiv li {
  list-style-type: disc;
  list-style-position: initial;
  list-style-image: initial;
  font-size: 22px;
  margin-bottom: 10px;
  color: rgb(49, 182, 180);
}
.blocImgTextDiv li span {
  color: rgb(64, 64, 64);
  font-size: 15px;
  line-height: 20px;
  display: block;
}
b, strong {
  font-weight: 700;
}