/*=============================================
		 style patient
=============================================*/
.form-group {
  margin-bottom: 15px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.f-user .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
dt, kbd kbd, label {
  font-weight: 700;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
.f-user .control-label, .passwordForm_container .control-label {
  font-weight: 400;
  color: rgb(87, 178, 230);
}
.f-user .control-label {
  text-align: center;
}
.f-blue-select .select2-container--default .select2-selection--single .select2-selection__arrow b, .f-blue-select .select2-selection__arrow b, .f-simple-select .select2-container--default .select2-selection--single .select2-selection__arrow b, .f-simple-select .select2-selection__arrow b, .glyphicon, form .select2-container--default .select2-selection--single .select2-selection__arrow b, form .select2-selection__arrow b {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.glyphicon-info-sign::before {
  content: "";
}
.f-user label span {
  vertical-align: middle;
}
.f-user .control-label span {
  vertical-align: baseline;
}
.f-blue-select .select2-container--default .select2-selection--single .select2-selection__arrow b.has-bubble, .f-blue-select .select2-selection__arrow b.has-bubble, .f-simple-select .select2-container--default .select2-selection--single .select2-selection__arrow b.has-bubble, .f-simple-select .select2-selection__arrow b.has-bubble, .has-bubble.glyphicon, form .select2-container--default .select2-selection--single .select2-selection__arrow b.has-bubble, form .select2-selection__arrow b.has-bubble {
  opacity: 0.5;
}
.f-blue-select .select2-container--default .select2-selection--single .select2-selection__arrow form b, .f-blue-select .select2-selection__arrow form b, .f-simple-select .select2-container--default .select2-selection--single .select2-selection__arrow form b, .f-simple-select .select2-selection__arrow form b, form .f-blue-select .select2-container--default .select2-selection--single .select2-selection__arrow b, form .f-blue-select .select2-selection__arrow b, form .f-simple-select .select2-container--default .select2-selection--single .select2-selection__arrow b, form .f-simple-select .select2-selection__arrow b, form .glyphicon, form .select2-container--default .select2-selection--single .select2-selection__arrow b, form .select2-selection__arrow b {
  color: rgb(120, 120, 120);
  vertical-align: inherit;
}
.has-bubble > .bubble {
  display: none;
  position: absolute;
  margin-top: -4px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 43px;
  padding-top: 9pt;
  padding-right: 9pt;
  padding-bottom: 9pt;
  padding-left: 9pt;
  width: 150px;
  height: auto;
  background-color: rgb(52, 52, 52);
  color: rgb(255, 255, 255);
  font-size: 9pt;
  line-height: 1.3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  z-index: 12;
  clip: auto;
  opacity: 1;
}
.has-bubble > .bubble::after {
  position: absolute;
  display: block;
  content: " ";
  right: 100%;
  top: 10px;
  height: 0px;
  width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-right-color: rgb(52, 52, 52);
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  margin-top: 1px;
  pointer-events: none;
}
.has-bubble:hover > .bubble {
  display: block;
}
.f-blue-select .select2-selection__arrow b.has-bubble .bubble, .f-simple-select .select2-selection__arrow b.has-bubble .bubble, .has-bubble.glyphicon .bubble, form .select2-selection__arrow b.has-bubble .bubble {
  width: 200px;
  margin-top: -25px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 22px;
  font-size: 9pt;
  font-family: Raleway, Arial, sans-serif;
}
.f-blue-select .select2-container--default .select2-selection--single .select2-selection__arrow form b .bubble, .f-blue-select .select2-selection__arrow form b .bubble, .f-simple-select .select2-container--default .select2-selection--single .select2-selection__arrow form b .bubble, .f-simple-select .select2-selection__arrow form b .bubble, form .glyphicon .bubble, form .select2-container--default .select2-selection--single .select2-selection__arrow b .bubble, form .select2-selection__arrow b .bubble {
  font-size: 9pt;
  font-family: Raleway, Arial, sans-serif;
}
.f-user .col-sm-8 {
  padding-left: 0px;
  padding-right: 0px;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.form-control, output {
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(85, 85, 85);
  display: block;
}
.form-control {
  width: 100%;
  height: 34px;
  padding-top: 6px;
  padding-right: 9pt;
  padding-bottom: 6px;
  padding-left: 9pt;
  background-color: rgb(255, 255, 255);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: initial, initial;
  transition-property: border-color, box-shadow;
}
.form-control:focus {
  border-top-color: rgb(102, 175, 233);
  border-right-color: rgb(102, 175, 233);
  border-bottom-color: rgb(102, 175, 233);
  border-left-color: rgb(102, 175, 233);
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px;
}
.form-control::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
}
.muniscle{
text-transform: capitalize;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0.5s;
  transition-property: opacity;
  opacity: 0;
}
form .form-control, form .l-checkbox, form .l-radio, form input {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 52px;
}
.small, small {
  font-size: 85%;
}
.f-user .form-group small {
  display: block;
  color: rgb(120, 120, 120);
}
.parent { text-align: center; }
.b2b-homepage-prospect {
    background-image: linear-gradient(rgb(0, 148, 70) 0%, rgb(204, 236, 250) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    position: relative;
    display: flex;
    justify-content: center;
}

.dl-b2b-text-white {
    color: rgb(255, 255, 255);
	}
	.p-text-size {
    color: rgb(255, 255, 255);
	font-size: 18px;
	margin-top: 30px;
    margin-right: 16px;
    margin-bottom: 15px;
    margin-left: 14px;
	}
	.dl-b2b-text-section-title {
    margin-top: 35px;
    margin-right: 14px;
    margin-bottom: 20px;
    margin-left: 14px;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
	}
	.select2-selection__arrow b {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    left: 11px;
    bottom: 5px;
    height: 40px;
    width: 40px;
    margin-left: 0;
    margin-top: 0;
    border: 0;
    color: #fff;
    background-color: #57b2e6;
    border-radius: 3px;}
	article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.page--home section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.page--home .content--rdv-steps {
  background-color: rgb(246, 247, 250);
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
dl, ol, ul {
  margin-top: 0px;
}
ol, ul {
  margin-bottom: 10px;
}
.content--rdv-steps ul {
  list-style-type: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
}
.btn-group > .btn-group, .btn-toolbar .btn-group, .btn-toolbar .input-group, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .dropdown-menu {
  float: left;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-6 {
  width: 50%;
}
.content--features .panel-text, .content--rdv-steps .rdv-step {
  text-align: center;
}
.content--rdv-steps li {
  padding-top: 20px;
  padding-bottom: 20px;
}
.content--users__medias .sprite, .picto {
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  display: inline-block;
}
.picto {
  line-height: 1;
  background-image: url("../../img/commons/pictos/pictos-sprite--smalls.png");
}
.picto--doc {
  width: 36px;
  height: 35px;
  background-position-x: -43px;
  background-position-y: -2px;
}
.picto--agenda-check {
  width: 39px;
  height: 36px;
  background-position-x: -135px;
  background-position-y: -125px;
}
.picto--user-space {
  width: 37px;
  height: 36px;
  background-position-x: -122px;
  background-position-y: -83px;
}
.picto--free {
  width: 2pc;
  height: 2pc;
  background-position-x: -85px;
  background-position-y: -2px;
}
.con{
color:black;
font-size:18px;

}
.iconecouleur
{
    color: #00944A;
}
.mage{
padding-top: 30px;
padding-bottom: 30px;
	}
.sliding-items .row {
    border-bottom: 1px solid #cbcbcb;
    padding-left: 15px;
    padding-right: 15px;
}
.dl-b2b-text-section-title-texte {
    margin-top: 35px;
    margin-right: 18px;
    margin-bottom: 20px;
    margin-left: 14px;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #787878;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  height: 50px;
}
.f-blue-select .select2-container--default .select2-selection--single .select2-selection__arrow, .f-blue-select .select2-selection__arrow {
  width: 56px;
  line-height: 40px;
  text-align: center;
}
form .select2-container--default .select2-selection--single .select2-selection__arrow, form .select2-selection__arrow {
  width: 30px;
  line-height: 50px;
  text-align: center;
}
b, optgroup, strong {
  font-weight: 700;
}
.f-blue-select .select2-container--default .select2-selection--single .select2-selection__arrow b, .f-blue-select .select2-selection__arrow b, .f-simple-select .select2-container--default .select2-selection--single .select2-selection__arrow b, .f-simple-select .select2-selection__arrow b, .glyphicon, form .select2-container--default .select2-selection--single .select2-selection__arrow b, form .select2-selection__arrow b {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-top-color: rgb(136, 136, 136);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 5px;
  border-right-width: 4px;
  border-bottom-width: 0px;
  border-left-width: 4px;
  height: 0px;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0px;
}
.f-blue-select .select2-container--default .select2-selection--single .select2-selection__arrow form b, .f-blue-select .select2-selection__arrow form b, .f-simple-select .select2-container--default .select2-selection--single .select2-selection__arrow form b, .f-simple-select .select2-selection__arrow form b, form .f-blue-select .select2-container--default .select2-selection--single .select2-selection__arrow b, form .f-blue-select .select2-selection__arrow b, form .f-simple-select .select2-container--default .select2-selection--single .select2-selection__arrow b, form .f-simple-select .select2-selection__arrow b, form .glyphicon, form .select2-container--default .select2-selection--single .select2-selection__arrow b, form .select2-selection__arrow b {
  color: rgb(120, 120, 120);
  vertical-align: inherit;
}
.f-blue-select .select2-container--default .select2-selection--single .select2-selection__arrow b, .f-blue-select .select2-selection__arrow b {
  display: block;
  position: absolute;
  top: 5px;
  right: 0px;
  left: 11px;
  bottom: 5px;
  height: 40px;
  width: 40px;
  margin-left: 0px;
  margin-top: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  color: rgb(255, 255, 255);
  background-color: rgb(87, 178, 230);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
form .select2-container--default .select2-selection--single .select2-selection__arrow b, form .select2-selection__arrow b {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  color: rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
	
