{% extends 'admin.html.twig' %}

{% block title %}Liste Utilisateur {{ parent() }} {% endblock %}

{% block body %}
 <div class="row">
                  

                    <div class="col-12">
                        <div class="block  table-block mb-4">
                            <div class="block-heading">
                                <h5>Liste des utilisateurs </h5>
                               
                                
                            </div>


                            <div class="row">
                            <div class="pull-right"> 
                            <a href="{{ path('user_admin_create') }}" class="btn btn-primary">Ajouter</a>
                            <br><br>
                            </div>
                           
                            
                                <div class="table-responsive">
                                  {% for message in app.session.flashbag.get('ajout') %}
                                     
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>

                                {% endfor %}
                                    <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Fonction</th>
                                            <th>E-mail</th>
                                            <th>Téléphone</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for entity  in entities %}
                                        <tr>
                                            <td class="name">{{entity.admin.nom}}</td>
                                            <td>{{entity.admin.prenom}}</td>
                                            <td>{{entity.admin.fonction}}</td>
                                            <td>{{entity.email}}</td>
                                            <td>{{entity.admin.tel}}</td>
                                            <td>
                                              <a class="btn btn-default btn-sm" href="{{ path('user_admin_show' , {id:entity.identifiant} ) }}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                         
                                            </td>
                                        </tr>
                                        {% endfor %}
                                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
{% endblock %}
