
{% extends 'admin.html.twig' %}

{% block title %}Liste des prestataires {{ parent() }} {% endblock %}

{% block body %}
    <div id="app">
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    {% if type == 'parent' %}
                    <h5>Liste des prestataires (<span style="color:green"> {{ parent.nom }}  </span> )</h5>
                    {% else %}
                        <h5>Liste des prestataires </h5>
                    {% endif %}


                </div>


                <div class="row">
                    <div class="pull-right">
                        {% if type == 'parent' %}
                            <a class="btn btn-inline btn-info" href="{{ path('prestataire_show' , {id:parent.identifiant} ) }}">
                                <i class="fa fa-chevron-circle-left"></i> Retour
                            </a>
                        {% endif %}
                        <a href="#"  data-target="#removeModalLabel" data-toggle="modal" class="btn btn-primary">Ajouter</a>
                        <br><br>
                    </div>


                    <div class="table-responsive">
                        {% for message in app.session.flashbag.get('ajout') %}

                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}
                        <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Nom</th>
                                <th>Telephone</th>
                                <th>Ville</th>
                                <th>Date d'ajout</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for prestataire in prestataires %}
                                <tr>
                                    <td>
                                        {% if prestataire.image != null %}

                                        <img src="{{asset(prestataire.image.WebPath)}}" style="height:40px;"> </td>
                                    {% endif %}
                                    </td>
                                    <td>{{ prestataire.nom }}</td>
                                    <td>{{ prestataire.telephone }}  </td>
                                    <td>{#{{ prestataire.ville }}#} </td>
                                    <td>{{ prestataire.created ? prestataire.created|localizeddate('full', 'short') : '' }}</td>
                                    <td>
                                        <a class="btn btn-default btn-sm" href="{{ path('prestataire_show' , {id:prestataire.identifiant} ) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">Aucun enregistrement</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div aria-hidden="true" aria-labelledby="removeModalLabel" class="modal fade" id="removeModalLabel" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Creation de compte prestataire</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button>
                </div>
                <div class="modal-body">
                    <p style="text-align:center" >
                        {% if type == 'parent' %}
                            <a href="{{ path('prestataire_new' , {'type':'entreprise' , parent:parent.id } ) }}" class="btn btn-secondary"  > Entreprise</a>
                            <a  href="{{ path('prestataire_new' , {'type':'particulier' , parent:parent.id} ) }}" class="btn btn-primary" >Particulier </a>
                        {% else %}
                            <a href="{{ path('prestataire_new' , {'type':'entreprise' , parent:'null' } ) }}" class="btn btn-secondary"  > Entreprise</a>
                            <a  href="{{ path('prestataire_new' , {'type':'particulier' , parent:'null'} ) }}" class="btn btn-primary" >Particulier </a>
                        {% endif %}


                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button"> Annuler</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
