
{% extends 'admin.html.twig' %}

{% block title %}Nouveau prestataire {{ parent() }} {% endblock %}

{% import _self as self %}
{% macro information_prototype(tarif) %}
    <div class="form-row">
        <div class="form-group col-md-5">
            {{ form_label(tarif.service, 'Service', {'label_attr': {'class': ''}}) }}
            {{ form_widget(tarif.service, {'attr': {'class': 'form-control' , 'placeholder' : 'Service' } }) }}
        </div>
        <div class="form-group col-md-5">
            {{ form_label(tarif.prix, 'Prix consultation', {'label_attr': {'class': ''}}) }}
            {{ form_widget(tarif.prix, {'attr': {'class': 'form-control' , 'placeholder' : 'Prix consultation' } }) }}
        </div>

    </div>
{% endmacro %}

{% macro information_prototype_agenda(agenda) %}
    <div class="form-row">
        <div class="form-group col-md-2">
            {{ form_label(agenda.jourFrench, 'Jour', {'label_attr': {'class': ''}}) }}
            {{ form_widget(agenda.jourFrench, {'attr': {'class': 'form-control' , 'placeholder' : 'Jour' } }) }}
        </div>
        <div class="form-group col-md-2">
            {{ form_label(agenda.creno, 'Créno', {'label_attr': {'class': ''}}) }}
            {{ form_widget(agenda.creno, {'attr': {'class': 'form-control' , 'placeholder' : 'Créno' } }) }}
        </div>
        <div class="form-group col-md-3">
            {{ form_label(agenda.heureD, 'Heure Debut', {'label_attr': {'class': ''}}) }} <br>
            {{ form_widget(agenda.heureD, {'attr': {'class': 'form-control' , 'placeholder' : 'Créno' } }) }}
        </div>
        <div class="form-group col-md-3">
            {{ form_label(agenda.heureF, 'Heure Fin', {'label_attr': {'class': ''}}) }}<br>
            {{ form_widget(agenda.heureF, {'attr': {'class': 'form-control' , 'placeholder' : 'Créno' } }) }}
        </div>

    </div>
{% endmacro %}

{% block body %}
    <div id="app">
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">

                    {% if prestataire.parent != null %}
                        <h5>Editer Prestataire (<span style="color:green"> {{ prestataire.parent.nom }}  </span> )</h5>
                    {% else %}
                        <h5>Editer Prestataire  </h5>
                    {% endif %}


                </div>

                <div class="row">
                    <div class="col-12" >
                        {{ form_start(form) }}

                        <div class="form-row">

                            {% if type == 'particulier' %}
                                <div class="form-group col-md-4">

                                    {{ form_label(form.particulier.nom, 'Nom du prestataire ', {'label_attr': {'class': ''}}) }}
                                    {{ form_widget(form.particulier.nom, {'attr': {'class': 'form-control' , 'placeholder' : 'Nom du prestataire ' } }) }}
                                    {{ form_errors(form.particulier.nom) }}
                                </div>
                                <div class="form-group col-md-4">

                                    {{ form_label(form.particulier.prenom, 'Prenom du prestataire ', {'label_attr': {'class': ''}}) }}
                                    {{ form_widget(form.particulier.prenom, {'attr': {'class': 'form-control' , 'placeholder' : 'Prenom du prestataire ' } }) }}
                                    {{ form_errors(form.particulier.prenom) }}
                                </div>
                                <div class="form-group col-md-4">

                                    {{ form_label(form.particulier.telephone, 'Telephone du prestataire ', {'label_attr': {'class': ''}}) }}
                                    {{ form_widget(form.particulier.telephone, {'attr': {'class': 'form-control' , 'placeholder' : 'Telephone du prestataire ' } }) }}
                                    {{ form_errors(form.particulier.telephone) }}
                                </div>
                                <div class="form-group col-md-4">

                                    {{ form_label(form.particulier.localisation, 'Localisation du prestataire ', {'label_attr': {'class': ''}}) }}
                                    {{ form_widget(form.particulier.localisation, {'attr': {'class': 'form-control' , 'placeholder' : 'Localisation du prestataire ' } }) }}
                                    {{ form_errors(form.particulier.localisation) }}
                                </div>
                            {% endif %}
                        {% if type == 'entreprise' %}
                            <div class="form-group col-md-4">

                                {{ form_label(form.entreprise.nom, 'Nom de l\'entreprise ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.entreprise.nom, {'attr': {'class': 'form-control' , 'placeholder' : 'Nom de l\'entreprise' } }) }}
                                {{ form_errors(form.entreprise.nom) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.entreprise.nomContact, 'Nom du contact dans l\'entreprise  ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.entreprise.nomContact, {'attr': {'class': 'form-control' , 'placeholder' : 'Nom du contact dans l\'entreprise' } }) }}
                                {{ form_errors(form.entreprise.nomContact) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.entreprise.prenomContact, 'Prenom du contact dans l\'entreprise ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.entreprise.prenomContact, {'attr': {'class': 'form-control' , 'placeholder' : 'Prenom du contact dans l\'entreprise' } }) }}
                                {{ form_errors(form.entreprise.prenomContact) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.entreprise.telephone, 'Telephone de l\'entreprise ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.entreprise.telephone, {'attr': {'class': 'form-control' , 'placeholder' : 'Telephone de l\'entreprise' } }) }}
                                {{ form_errors(form.entreprise.telephone) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.entreprise.telephoneContact, 'Telephone du contact de l\'entreprise ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.entreprise.telephoneContact, {'attr': {'class': 'form-control' , 'placeholder' : 'Telephone du contact de l\'entreprise' } }) }}
                                {{ form_errors(form.entreprise.telephoneContact) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.entreprise.localisation, 'localisation de l\'entreprise ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.entreprise.localisation, {'attr': {'class': 'form-control' , 'placeholder' : 'localisation de l\'entreprise' } }) }}
                                {{ form_errors(form.entreprise.localisation) }}
                            </div>



                        {% endif %}
                            <div class="form-group col-md-4">
                                <label for="">Ville</label>
                                <el-select @change="changeVille()" style="width:100%" v-model="ville" filterable placeholder="Ville">
                                    <el-option
                                            v-for="item in list"
                                            :label="item.libelle"
                                            :value="item.id">
                                    </el-option>
                                </el-select>
                                <input name="ville" type="hidden" v-model="ville">

                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Commune</label>
                                <el-select style="width:100%" v-model="commune" filterable placeholder="Commune">
                                    <el-option
                                            v-for="item in communes"
                                            :label="item.libelle"
                                            :value="item.id">
                                    </el-option>
                                </el-select>
                                <input name="commune" type="hidden" v-model="commune">
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.adresse, 'Adresse postale ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.adresse, {'attr': {'class': 'form-control' , 'placeholder' : 'Adresse postale' } }) }}
                                {{ form_errors(form.adresse) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.email, 'Email ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control' , 'placeholder' : 'Email' } }) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.lienFace, 'Facebook', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.lienFace, {'attr': {'class': 'form-control' , 'placeholder' : 'Facebook' } }) }}
                                {{ form_errors(form.lienFace) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.lienTwiter, 'Twitter ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.lienTwiter, {'attr': {'class': 'form-control' , 'placeholder' : 'Twitter' } }) }}
                                {{ form_errors(form.lienTwiter) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.lienLinkedin, 'Linkedin ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.lienLinkedin, {'attr': {'class': 'form-control' , 'placeholder' : 'Linkedin' } }) }}
                                {{ form_errors(form.lienLinkedin) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.longitude, 'Longitude ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.longitude, {'attr': {'class': 'form-control' , 'placeholder' : 'Lagitude' } }) }}
                                {{ form_errors(form.longitude) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.latitude, 'Latitude ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.latitude, {'attr': {'class': 'form-control' , 'placeholder' : 'Latitude' } }) }}
                                {{ form_errors(form.latitude) }}
                            </div>

                            <div class="form-group col-md-4">

                                {{ form_label(form.image.file, 'Image de profil ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.image.file, {'attr': {'class': 'form-control' , 'placeholder' : 'Image de profil' } }) }}
                                {{ form_errors(form.image.file) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.langue, 'Langue ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.langue, {'attr': {'class': 'form-control' , 'placeholder' : 'Langue' } }) }}
                                {{ form_errors(form.langue) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.etat, 'Activer le prestataire ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.etat, {'attr': {'class': 'form-control' , 'placeholder' : 'Activer le prestataire' } }) }}
                                {{ form_errors(form.etat) }}
                            </div>



                        </div>
                        <div class="col-md-12">
                            <h5 class="panel-title">Tarif du prestataire
                                <span class="bt"> </span>
                            </h5>
                            <hr>
                            <div class="collection" id="parametre" data-prototype="{{ self.information_prototype(form.tarif.vars.prototype)|e }}">
                                {% for tarif in form.tarif %}
                                    {{ self.information_prototype(tarif) }}
                                {% endfor %}
                                <span style="display:none;">  {{ form_widget( form.tarif ) }}   </span>
                            </div>
                            <div id="ajout"  >
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h5 class="panel-title">Agenda du prestataire
                                <span class="btA"> </span>
                            </h5>
                            <hr>
                            <div class="collection" id="agendas" data-prototype="{{ self.information_prototype_agenda(form.agenda.vars.prototype)|e }}">
                                {% for agenda in form.agenda %}
                                    {{ self.information_prototype_agenda(agenda) }}
                                {% endfor %}
                                <span style="display:none;">  {{ form_widget( form.agenda ) }}   </span>
                            </div>
                            <div id="ajoutA"  >
                            </div>
                        </div>

                        <div class="form-row">
                        <div class="form-group col-md-6">

                            {{ form_label(form.presentation, 'Présentation', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.presentation, {'attr': {'class': 'form-control editor' , 'placeholder' : 'Présentation' } }) }}
                            {{ form_errors(form.presentation) }}
                        </div>
                        <div class="form-group col-md-6">

                            {{ form_label(form.autreInfo, 'Autres Infos', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.autreInfo, {'attr': {'class': 'form-control editor' , 'placeholder' : 'Autres Infos' } }) }}
                            {{ form_errors(form.autreInfo) }}
                        </div>
                        <div class="form-group col-md-6">

                            {{ form_label(form.moyenTransport, 'Moyens de Transport', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.moyenTransport, {'attr': {'class': 'form-control editor' , 'placeholder' : 'Moyens de Transport' } }) }}
                            {{ form_errors(form.moyenTransport) }}
                        </div>

                        <div class="form-group col-md-6">

                            {{ form_label(form.decrispTarif, 'Description Tarif', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.decrispTarif, {'attr': {'class': 'form-control editor' , 'placeholder' : 'Description Tarif' } }) }}
                            {{ form_errors(form.decrispTarif) }}
                        </div>
                        <div class="form-group col-md-6">

                            {{ form_label(form.commentaire, 'Commentaire', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.commentaire, {'attr': {'class': 'form-control editor' , 'placeholder' : 'Commentaire' } }) }}
                            {{ form_errors(form.commentaire) }}
                        </div>
                        </div>
                        <hr>


                        <div class="btn-group record_actions">


                            {% if parent != null and parent != 'null' %}
                                <a class="btn btn-inline btn-info" href="{{ path('prestataire_index' , {id:parent.identifiant} ) }}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>
                            {% else %}

                                {% if prestataire.parent == null %}
                                    <a class="btn btn-inline btn-info" href="{{path('prestataire_index')}}">
                                        <i class="fa fa-chevron-circle-left"></i> Retour
                                    </a>
                                {% else %}
                                    <a class="btn btn-inline btn-info" href="{{ path('prestataire_index' , {id:prestataire.identifiant} ) }}">
                                        <i class="fa fa-chevron-circle-left"></i> Retour
                                    </a>
                                {% endif %}
                            {% endif %}

                            <button class="btn btn-primary" type="submit">Valider</button>
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>

            </div>
        </div>

    </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
            var $container = $('div#parametre');
            var $addLink = $('<a href="#" id="add_category" class=""><i class="icon-plus"></i></a>');
            $('.bt').html($addLink);
            $addLink.click(function(e) {
                    addCategory($container);
                    e.preventDefault();
                    return false;
                }
            );
            var index = $container.find(':input').length;
            if (index == 0) {
                addCategory($container);
            }
            else {
                $container.children('div').each(function() {
                        addDeleteLink($(this));
                    }
                );
            }
            function addCategory($container) {
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Période n°' + (index+1))
                    .replace(/__name__/g, index));
                addDeleteLink($prototype);
                $('#ajout').append($prototype);
                index++;
            }
            function addDeleteLink($prototype) {
                $deleteLink = $('<div class="form-group col-md-2"><div class=""> <label class="control-label">Action</label> <br/><a href="#" class="remove"><i class="fa fa-trash" aria-hidden="true"></i></a></div></div><p>&nbsp;</p>');
                $prototype.append($deleteLink);
                $deleteLink.click(function(e) {
                        $prototype.remove();
                        e.preventDefault();
                        return false;
                    }
                );
            }




        var $container = $('div#agendas');
        var $addLink = $('<a href="#" id="add_agenda" class=""><i class="icon-plus"></i></a>');
        $('.btA').html($addLink);
        $addLink.click(function(e) {
            addCategoryAgenda($container);
                e.preventDefault();
                return false;
            }
        );
        var index = $container.find(':input').length;
        if (index == 0) {
            addCategoryAgenda($container);
        }
        else {
            $container.children('div').each(function() {
                addDeleteLinkAgenda($(this));
                }
            );
        }
        function addCategoryAgenda($container) {
            var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Période n°' + (index+1))
                .replace(/__name__/g, index));
            addDeleteLinkAgenda($prototype);
            $('#ajoutA').append($prototype);
            index++;
        }
        function addDeleteLinkAgenda($prototype) {
            $deleteLink = $('<div class="form-group col-md-2"><div class=""> <label class="control-label">Action</label> <br/><a href="#" class="remove"><i class="fa fa-trash" aria-hidden="true"></i></a></div></div><p>&nbsp;</p>');
            $prototype.append($deleteLink);
            $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault();
                    return false;
                }
            );
        }


        }
    );
    var villes = [];
    {% for ville in villes %}
    var tmp = {};
    tmp.id = "{{ ville.id }}";
    tmp.libelle = "{{ ville.libelle }}";
    tmp.commune = [];
    {% for childs in ville.childs %}
    var tmpp = {};
    tmpp.id = "{{ childs.id }}";
    tmpp.libelle = "{{ childs.libelle }}";
    tmp.commune.push(tmpp);
    {% endfor %}
    villes.push(tmp);
    {% endfor %}
</script>
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    loading: false,
                    list:villes,
                    ville:null,
                    commune:null,
                    communes:[]
                }

            },
            components: {},
            methods: {
                changeVille(){
                    this.communes = [];
                    this.list.forEach((element) => {
                        if(element.id == this.ville ){
                            this.communes = element.commune;
                        }
                    });
                }

            },
            mounted: function () {
                {% if prestataire.ville != null %}
                this.ville = "{{prestataire.ville.id}}";
                this.changeVille();
                {% endif %}
                {% if prestataire.commune != null %}
                this.commune = "{{prestataire.commune.id}}";
                {% endif %}
            },

            delimiters: ['${', '}']
        });
    </script>
<style>
    .bt a {
        position: relative;
        top: 4px;
        color: green;
    }
    .remove i {
        color:red
    }
</style>
{% endblock %}