
{% extends 'admin.html.twig' %}

{% block title %}Fiche Prestataire {{ parent() }} {% endblock %}

{% block body %}
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5> </h5>

                    {% if prestataire.parent != null %}
                        <h5>Fiche Prestataire {{prestataire.nom}} (<span style="color:green"> {{ prestataire.parent.nom }}  </span> )</h5>
                    {% else %}
                        <h5>Fiche Prestataire {{prestataire.nom}} </h5>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-12" >

                        {% for message in app.session.flashbag.get('ajout') %}

                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}
                        <div class="row">


                        <div class="col-md-6">

                        <table class="table table-hover record_properties">
                            <tbody>
                            {% if prestataire.image != null %}
                                <tr>
                                    <th scope="row"></th>
                                    <td>
                                        <img src="{{asset(prestataire.image.WebPath)}}" style="height:120px;"> </td>
                                </tr>
                            {% endif %}
                            {% if prestataire.type == 'entreprise' %}

                            <tr>
                                <th>NOM DE L'ENTREPRISE</th>
                                <td>{{ prestataire.entreprise.nom }}</td>
                            </tr>
                                <tr>
                                    <th>NOM DU CONTACT DANS L'ENTREPRISE</th>
                                    <td>{{ prestataire.entreprise.nomContact }}</td>
                                </tr>
                                <tr>
                                    <th>PRENOM DU CONTACT DANS L'ENTREPRISE</th>
                                    <td>{{ prestataire.entreprise.prenomContact }}</td>
                                </tr>
                                <tr>
                                    <th>TELEPHONE DE L'ENTREPRISE</th>
                                    <td>{{ prestataire.entreprise.telephone }}</td>
                                </tr>
                                <tr>
                                    <th>TELEPHONE DU CONTACT DE L'ENTREPRISE</th>
                                    <td>{{ prestataire.entreprise.telephoneContact }}</td>
                                </tr>
                                <tr>
                                    <th>LOCALISATION DE L'ENTREPRISE</th>
                                    <td>{{ prestataire.entreprise.localisation }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th>NOM DU PRESTATAIRE</th>
                                    <td>{{ prestataire.particulier.nom }}</td>
                                </tr>
                                <tr>
                                    <th>PRENOM DU PRESTATAIRE</th>
                                    <td>{{ prestataire.particulier.prenom }}</td>
                                </tr>
                                <tr>
                                    <th>TELEPHONE DU PRESTATAIRE</th>
                                    <td>{{ prestataire.particulier.telephone }}</td>
                                </tr>
                                <tr>
                                    <th>LOCALISATION DU PRESTATAIRE</th>
                                    <td>{{ prestataire.particulier.localisation }}</td>
                                </tr>
                            {% endif %}
                                <tr>
                                    <th>ADRESSE POSTALE</th>
                                    <td>{{ prestataire.adresse }}</td>
                                </tr>
                                <tr>
                                    <th>EMAIL</th>
                                    <td>{{ prestataire.email }}</td>
                                </tr>
                                <tr>
                                    <th>FACEBOOK</th>
                                    <td>{{ prestataire.lienFace }}</td>
                                </tr>
                                <tr>
                                    <th>TWITTER</th>
                                    <td>{{ prestataire.lienTwiter }}</td>
                                </tr>
                                <tr>
                                    <th>LINKEDIN</th>
                                    <td>{{ prestataire.lienLinkedin }}</td>
                                </tr>
                                <tr>
                                    <th>LONGITUDE</th>
                                    <td>{{ prestataire.longitude }}</td>
                                </tr>
                                <tr>
                                    <th>LATITUDE</th>
                                    <td>{{ prestataire.latitude }}</td>
                                </tr>
                                <tr>
                                    <th>LANGUE</th>
                                    <td>{{ prestataire.langue }}</td>
                                </tr>

                                <tr>
                                    <th>ACTIVER LE PRESTATAIRE</th>
                                    <td>
                                        {% if prestataire.etat %}OUI{% else %}NON{% endif %}
                                    </td>
                                </tr>


                                <tr>
                                    <th>PRÉSENTATION</th>
                                    <td>{{ prestataire.presentation|raw }}</td>
                                </tr>




                            </tbody>
                        </table>
                        </div>
                        <div class="col-md-6">
                            <h5 class="panel-title">Tarif du prestataire
                            </h5>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Service</th>
                                    <th scope="col">Consultation</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for tarif in prestataire.tarif %}
                                    <tr>

                                        <td>{{ tarif.service.libelle }}</td>
                                        <td>{{ tarif.prix }}</td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                            <br>
                            <h5 class="panel-title">Agenda du prestataire
                            </h5>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Jour</th>
                                    <th scope="col">Créno</th>
                                    <th scope="col">Heure Debut</th>
                                    <th scope="col">Heure Fin</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for agenda in prestataire.agenda %}
                                    <tr>

                                        <td>{{ agenda.jourFrench }}</td>
                                        <td>{{ agenda.creno }}</td>
                                        <td>{{ agenda.heureD|date('H:i') }}</td>
                                        <td>{{ agenda.heureF|date('H:i') }}</td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                            <br>
                            <table class="table table-hover record_properties">
                                <tbody>
                            <tr>
                                <th>AUTRES INFOS</th>
                                <td>{{ prestataire.autreInfo|raw }}</td>
                            </tr> <tr>
                                <th>MOYENS DE TRANSPORT</th>
                                <td>{{ prestataire.moyenTransport|raw }}</td>
                            </tr>
                            <tr>
                                <th>DESCRIPTION TARIF</th>
                                <td>{{ prestataire.decrispTarif|raw }}</td>
                            </tr>
                            <tr>
                                <th>COMMENTAIRE</th>
                                <td>{{ prestataire.commentaire|raw }}</td>
                            </tr>
                            <tr>
                                <th>Date d'ajout</th>
                                <td>{{ prestataire.created ? prestataire.created|localizeddate('full', 'short') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Derniere Modification</th>
                                <td>{{ prestataire.modified ? prestataire.modified|localizeddate('full', 'short') : '' }}</td>
                            </tr>

                            </tbody>
                            </table>
                        </div>
                        </div>

                        <div class="btn-group record_actions">

                            {% if prestataire.parent != null %}
                                <a class="btn btn-inline btn-info" href="{{path('prestataire_index' , {id:prestataire.parent.identifiant } )}}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>

                                <a class="btn btn-inline btn-primary" href="{{path('prestataire_new' , { parent:prestataire.parent.id, id:prestataire.identifiant , type:prestataire.type } )}}">
                                    Modifier <i class="fa fa-edit"></i>
                                </a>
                            {% else %}

                                <a class="btn btn-inline btn-info" href="{{path('prestataire_index')}}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>
                                <a class="btn btn-inline btn-success" href="{{path('prestataire_index' , {id:prestataire.identifiant } )}}">
                                    les prestataires  <i class="fa fa-th-large"></i>
                                </a>

                                <a class="btn btn-inline btn-primary" href="{{path('prestataire_new' , {'parent':'null',id:prestataire.identifiant , type:prestataire.type } )}}">
                                    Modifier <i class="fa fa-edit"></i>
                                </a>
                            {% endif %}


                        </div>



                    </div>

                </div>

            </div>
        </div>

    </div>

    {{ include('prestataire/_delete_form.html.twig') }}

{% endblock %}
