
{% extends 'admin.html.twig' %}

{% block title %}Liste des categories {{ parent() }} {% endblock %}

{% block body %}
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5>Liste des patients </h5>


                </div>


                <div class="row">
                    <div class="pull-right">
                        <a href="{{ path('client_new') }}" class="btn btn-primary">Ajouter</a>
                        <br><br>
                    </div>


                    <div class="table-responsive">
                        {% for message in app.session.flashbag.get('ajout') %}

                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}
                        <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Telephone</th>
                                <th>Date d'ajout</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>
                                        {% if client.image != null %}

                                        <img src="{{asset(client.image.WebPath)}}" style="height:40px;"> </td>
                                    {% endif %}
                                    </td>
                                    <td>{{ client.nom }}</td>
                                    <td>{{ client.prenom }}</td>
                                    <td>{{ client.telephone }}</td>
                                    <td>{{ client.created ? client.created|localizeddate('full', 'short') : '' }}</td>

                                    <td>
                                        <a class="btn btn-default btn-sm" href="{{ path('client_show' , {id:client.identifiant} ) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Aucun enregistrement</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
