{% extends 'admin.html.twig' %}

{% block title %}Ajouter un nouveau patient {{ parent() }} {% endblock %}

{% block body %}
    <div id="app">


    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5>Ajouter un nouveau patient </h5>


                </div>

                <div class="row">
                    <div class="col-12" >
                        {{ form_start(form) }}

                        <div class="form-row">

                            <div class="form-group col-md-4">

                                {{ form_label(form.nom, 'Nom', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control' , 'placeholder' : 'Nom' } }) }}
                                {{ form_errors(form.nom) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.prenom, 'Prenom', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control' , 'placeholder' : 'Prenom' } }) }}
                                {{ form_errors(form.prenom) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.telephone, 'Telephone', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.telephone, {'attr': {'class': 'form-control' , 'placeholder' : 'Telephone' } }) }}
                                {{ form_errors(form.telephone) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.mail, 'E-mail', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.mail, {'attr': {'class': 'form-control' , 'placeholder' : 'E-mail' } }) }}
                                {{ form_errors(form.mail) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Ville</label>
                                <el-select @change="changeVille()" style="width:100%" v-model="ville" filterable placeholder="Ville">
                                    <el-option
                                            v-for="item in list"
                                            :label="item.libelle"
                                            :value="item.id">
                                    </el-option>
                                </el-select>
                                <input name="ville" type="hidden" v-model="ville">

                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Commune</label>
                                <el-select style="width:100%" v-model="commune" filterable placeholder="Commune">
                                    <el-option
                                            v-for="item in communes"
                                            :label="item.libelle"
                                            :value="item.id">
                                    </el-option>
                                </el-select>
                                <input name="commune" type="hidden" v-model="commune">
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.localisation, 'Localisation', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.localisation, {'attr': {'class': 'form-control' , 'placeholder' : 'Localisation' } }) }}
                                {{ form_errors(form.localisation) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.naissanceDate, 'Date de Naissance', {'label_attr': {'class': ''}}) }}
                                <br>
                                {{ form_widget(form.naissanceDate, {'attr': {'class': 'form-control' , 'placeholder' : 'Date de Naissance' } }) }}
                                {{ form_errors(form.naissanceDate) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.naissanceLieu, 'Lieu de Naissance', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.naissanceLieu, {'attr': {'class': 'form-control' , 'placeholder' : 'Lieu de Naissance' } }) }}
                                {{ form_errors(form.naissanceLieu) }}
                            </div>


                            <div class="form-group col-md-4">

                                {{ form_label(form.image.file, 'Image ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.image.file, {'attr': {'class': 'form-control' , 'placeholder' : 'Image' } }) }}
                                {{ form_errors(form.image.file) }}
                            </div>
                        </div>


                        <hr>


                        <div class="btn-group record_actions">
                            {% if client.id == null %}
                                <a class="btn btn-inline btn-info" href="{{path('client_index')}}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>
                            {% else %}
                                <a class="btn btn-inline btn-info" href="{{ path('client_index' , {id:client.identifiant} ) }}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>
                            {% endif %}

                            <button class="btn btn-primary" type="submit">Valider</button>
                        </div>
                        {{ form_end(form) }}

                    </div>

                </div>

            </div>
        </div>

    </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        var villes = [];
        {% for ville in villes %}
        var tmp = {};
        tmp.id = "{{ ville.id }}";
        tmp.libelle = "{{ ville.libelle }}";
        tmp.commune = [];
        {% for childs in ville.childs %}
        var tmpp = {};
        tmpp.id = "{{ childs.id }}";
        tmpp.libelle = "{{ childs.libelle }}";
        tmp.commune.push(tmpp);
        {% endfor %}
        villes.push(tmp);
        {% endfor %}
        new Vue({
            el: '#app',
            data: function () {
                return {
                    loading: false,
                    list:villes,
                    ville:null,
                    commune:null,
                    communes:[]
                }

            },
            components: {},
            methods: {
                changeVille(){
                    this.communes = [];
                    this.list.forEach((element) => {
                        if(element.id == this.ville ){
                            this.communes = element.commune;
                        }
                    });
                }

            },
            mounted: function () {
                {% if client.ville != null %}
                this.ville = "{{client.ville.id}}";
                this.changeVille();
                {% endif %}
                {% if client.commune != null %}
                this.commune = "{{client.commune.id}}";
                {% endif %}
            },

            delimiters: ['${', '}']
        });
    </script>
{% endblock %}
