

{% extends 'admin.html.twig' %}

{% block title %}Fiche Client {{ parent() }} {% endblock %}

{% block body %}
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5>Fiche Patient {{client.nom}} </h5>


                </div>

                <div class="row">
                    <div class="col-12" >

                        {% for message in app.session.flashbag.get('ajout') %}

                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}

                        <table class="table table-hover record_properties">
                            <tbody>
                            {% if client.image != null %}
                                <tr>
                                    <th scope="row"></th>
                                    <td>
                                        <img src="{{asset(client.image.WebPath)}}" style="height:120px;"> </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">Nom</th>
                                <td>{{client.nom}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Prenom</th>
                                <td>{{client.prenom}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Telephone</th>
                                <td>{{client.telephone}}</td>
                            </tr>
                            <tr>
                                <th scope="row">E-mail</th>
                                <td>{{client.mail}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Ville</th>
                                <td>
                                    {% if client.ville %}
                                        {{client.ville.libelle}}
                                    {% endif %}

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Commune</th>
                                <td>
                                    {% if client.commune %}
                                        {{client.commune.libelle}}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Localisation</th>
                                <td>{{client.localisation}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Date de Naissance</th>
                                <td>
                                    {{ client.naissanceDate ? client.naissanceDate|localizeddate('full', 'short') : '' }}

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Lieu de Naissance</th>
                                <td>{{client.naissanceLieu}}</td>
                            </tr>

                            <tr>
                                <th>Date d'ajout</th>
                                <td>{{ client.created ? client.created|localizeddate('full', 'short') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Derniere Modification</th>
                                <td>{{ client.modified ? client.modified|localizeddate('full', 'short') : '' }}</td>
                            </tr>




                            </tbody>
                        </table>

                        <div class="btn-group record_actions">

                            <a class="btn btn-inline btn-info" href="{{path('client_index')}}">
                                <i class="fa fa-chevron-circle-left"></i> Retour
                            </a>

                            <a class="btn btn-inline btn-primary" href="{{path('client_new' , {id:client.identifiant} )}}">
                                Modifier <i class="fa fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-inline btn-danger" data-target="#removeModalLabel" data-toggle="modal" >
                                Supprimer <i class="fa fa-trash"></i>
                            </a>


                        </div>



                    </div>

                </div>

            </div>
        </div>

    </div>

    {{ include('client/_delete_form.html.twig') }}

{% endblock %}