
{% extends 'admin.html.twig' %}
{% set lib = 'villes' %}
{% if type == 'parent' %} {% set lib = 'communes dans la ville ' ~ parent.libelle %} {% endif %}
{% block title %}Liste des {{ lib }} {{ parent() }} {% endblock %}

{% block body %}
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5>Liste des {{ lib }} </h5>


                </div>


                <div class="row">
                    <div class="pull-right">
                        {% if type == 'parent' %}
                        <a href="{{ path('localisation_new' , { type:'commune' , 'parent':parent.id } ) }}" class="btn btn-primary">Ajouter</a>
                        {% else %}
                            <a href="{{ path('localisation_new' , { type:'ville','parent':'null' } ) }}" class="btn btn-primary">Ajouter</a>
                        {% endif %}
                        <br><br>
                    </div>


                    <div class="table-responsive">
                        {% for message in app.session.flashbag.get('ajout') %}

                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}
                        <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                            <thead>
                            <tr>
                                <th>Libelle</th>
                                <th>Description</th>
                                <th>Date d'ajout</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for localisation in localisations %}
                                <tr>
                                    <td>{{ localisation.libelle }}</td>
                                    <td>{{ localisation.description|raw }}</td>
                                    <td>{{ localisation.created ? localisation.created|localizeddate('full', 'short') : '' }}</td>
                                    <td>
                                        <a class="btn btn-default btn-sm" href="{{ path('localisation_show' , {id:localisation.identifiant} ) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Aucun enregistrement</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
