
{% extends 'admin.html.twig' %}
{% set lib = 'ville' %}
{% if type == 'commune' %} {% set lib = 'commune dans la ville '~ parent.libelle  %} {% endif %}
{% block title %}Editer une nouvelle {{ lib }} {{ parent() }} {% endblock %}

{% block body %}
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5>Editer une nouvelle {{ lib }} </h5>


                </div>

                <div class="row">
                    <div class="col-12" >
                        {{ form_start(form) }}

                        <div class="form-row">

                            <div class="form-group col-md-4">

                                {{ form_label(form.libelle, 'Libelle', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.libelle, {'attr': {'class': 'form-control' , 'placeholder' : 'Libelle' } }) }}
                                {{ form_errors(form.libelle) }}
                            </div>
                            {% if type == 'ville' %}
                            <div class="form-group col-md-4">

                                {{ form_label(form.pays, 'Pays', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.pays, {'attr': {'class': 'form-control' , 'placeholder' : 'Pays' } }) }}
                                {{ form_errors(form.pays) }}
                            </div>
                            {% endif %}


                        </div>
                        <div class="form-group col-md-12">

                            {{ form_label(form.description, 'Description', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control editor' , 'placeholder' : 'Description' } }) }}
                            {{ form_errors(form.description) }}
                        </div>

                        <hr>


                        <div class="btn-group record_actions">
                            {% if parent != null and parent != 'null' %}
                                <a class="btn btn-inline btn-info" href="{{ path('localisation_index' , {id:parent.identifiant} ) }}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>
                            {% else %}

                            {% if localisation.id == null %}
                                <a class="btn btn-inline btn-info" href="{{path('localisation_index')}}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>
                            {% else %}
                                <a class="btn btn-inline btn-info" href="{{ path('localisation_index' , {id:localisation.identifiant} ) }}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>
                            {% endif %}
                            {% endif %}

                            <button class="btn btn-primary" type="submit">Valider</button>
                        </div>
                        {{ form_end(form) }}

                    </div>

                </div>

            </div>
        </div>

    </div>
{% endblock %}
