
{% extends 'admin.html.twig' %}
{% set lib = 'ville' %}
{% if localisation.type == 'commune' %} {% set lib = 'commune '~ localisation.libelle ~ '-' ~ localisation.parent.libelle  %} {% endif %}
{% block title %}Fiche {{ lib }} {{ parent() }} {% endblock %}

{% block body %}
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5>Fiche  {{ lib }}  </h5>


                </div>

                <div class="row">
                    <div class="col-12" >

                        {% for message in app.session.flashbag.get('ajout') %}

                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}

                        <table class="table table-hover record_properties">
                            <tbody>

                            <tr>
                                <th scope="row">Libelle</th>
                                <td>{{localisation.libelle}}</td>
                            </tr>

                            <tr>
                                <th scope="row">Description</th>
                                <td> {{localisation.description|raw}} </td>
                            </tr>



                            </tbody>
                        </table>

                        <div class="btn-group record_actions">

                            {% if localisation.parent != null %}
                                <a class="btn btn-inline btn-info" href="{{path('localisation_index' , {id:localisation.parent.identifiant } )}}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>

                                <a class="btn btn-inline btn-primary" href="{{path('localisation_new' , { parent:localisation.parent.id, id:localisation.identifiant , type:localisation.type } )}}">
                                    Modifier <i class="fa fa-edit"></i>
                                </a>
                            {% else %}

                                <a class="btn btn-inline btn-info" href="{{path('localisation_index')}}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>
                                <a class="btn btn-inline btn-success" href="{{path('localisation_index' , {id:localisation.identifiant } )}}">
                                    Commune <i class="fa fa-th-large"></i>
                                </a>

                                <a class="btn btn-inline btn-primary" href="{{path('localisation_new' , {'parent':'null',id:localisation.identifiant , type:localisation.type } )}}">
                                    Modifier <i class="fa fa-edit"></i>
                                </a>
                            {% endif %}


                            <a href="#" class="btn btn-inline btn-danger" data-target="#removeModalLabel" data-toggle="modal" >
                                Supprimer <i class="fa fa-trash"></i>
                            </a>


                        </div>



                    </div>

                </div>

            </div>
        </div>

    </div>

    {{ include('localisation/_delete_form.html.twig') }}

{% endblock %}
