{% extends 'layout.html.twig' %}

{% block title %}Accueil {{ parent() }} {% endblock %}

{% block body %}
   

<!-- Intro Banner
================================================== -->
<div class="intro-banner dark-overlay" data-background-image="{{ asset('theme/images/home-background-02.jpg') }}">

	<!-- Transparent Header Spacer -->
	<div class="transparent-header-spacer"></div>

	<div class="container" id="app">
		
		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h3>
						<strong>Prenez rendez-vous en ligne chez un professionnel de santé</strong>
						<br>
						<span>C'est immédiat, simple et gratuit.</span>
					</h3>
				</div>
			</div>
		</div>
		
		<!-- Search Bar -->
		<div class="row">
			<div class="col-md-12">
				<div class="intro-banner-search-form margin-top-95">

					<!-- Search Field -->
					<div class="intro-search-field with-autocomplete">
						<label for="autocomplete-input" class="field-title ripple-effect">Médecin, établissement, spécialité</label>
						<div class="input-with-icon">
               <el-autocomplete
                    v-model="recherche.libelle"
                    :fetch-suggestions="querySearch"
                    placeholder="Médecin, établissement, spécialité…"
                    :trigger-on-focus="false"
                    >
                   
                    <template slot-scope="props">
                      <div class="value">${ props.item.value }</div>
                      <span class="link">${ props.item.link }</span>
                    </template>
                </el-autocomplete>
							<i class="icon-material-outline-location-on"></i>
						</div>
					</div>

					<!-- Search Field -->
					<div class="intro-search-field">
						<label for ="intro-keywords" class="field-title ripple-effect">Médecin, établissement, spécialité…?</label>
						<input id="intro-keywords" type="text" v-model="recherche.adresse" placeholder="Où ?" >
					</div>

				

					<!-- Button -->
					<div class="intro-search-button">
						<button @click.prevent="rechercheStatus" class="button ripple-effect" >Rechercher</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Stats -->
		<div class="row">
			<div class="col-md-12">
				<ul class="intro-stats margin-top-45 hide-under-992px">
					<li>
						<strong class="counter">36012</strong>
						<span>Clients</span>
					</li>
					<li>
						<strong class="counter">21067</strong>
						<span>Medecins</span>
					</li>
					<li>
						<strong class="counter">6954</strong>
						<span>rendez-vous</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

<!-- Popular Job Categories -->
<div class="section margin-top-65 margin-bottom-30">
	<div class="container">
		<div class="row">

		
 <section class="homepage-b2b-features">
    <div class="row-padding-1 row-center">
      <h3 class="homepage-b2b-features-title">Vous êtes praticien ? 
        <br /> Découvrez la prise de rendez-vous en ligne !
      </h3>
      <div class="b2b-features">
        <div class="b2b-section-content">
          <div class="b2b-features-list">
            <a class="b2b-features-item b2b-features-item-size-normal" data-analytics-event-category="b2b" data-analytics-event-label="valueSaveTime" 
			href="">
              <div class="b2b-features-item-icon b2b-features-item-icon-phone">
                <svg version="1.1" id="phone-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 115 115">
                  <g class="phone-icon-phone">
                    <path class="phone-icon-body" d="M75.2,134.3c0,3.9-1,6.8-5.7,6.8H42.4c-3.8,0-5.5-2.9-5.5-6.3V37.2c0-2.3,0.5-3.5,4.5-3.5h30.3
                                                     c2.3,0,3.5-0.1,3.5,3.2V134.3z"/>
                    <circle class="phone-icon-speaker-large" cx="57.5" cy="45.9" r="6.1"/>
                    <circle class="phone-icon-speaker-small" cx="57.5" cy="45.9" r="1.1"/>
                    <path class="phone-icon-reflect" d="M71.4,33.7l-29,107.4h27.2c4.7,0,5.7-2.9,5.7-6.8V36.9C75.2,33.5,73.7,33.7,71.4,33.7z"/>
                    <circle class="phone-icon-touch" cx="47.5" cy="100.4" r="2.4"/>
                    <circle class="phone-icon-touch" cx="57.3" cy="100.4" r="2.4"/>
                    <circle class="phone-icon-touch" cx="67.1" cy="100.4" r="2.4"/>
                    <circle class="phone-icon-touch" cx="47.5" cy="109.6" r="2.4"/>
                    <circle class="phone-icon-touch" cx="57.3" cy="109.6" r="2.4"/>
                    <circle class="phone-icon-touch" cx="67.1" cy="109.6" r="2.4"/>
                    <path class="phone-icon-screen" d="M70.9,71.4c0,3.2-2.6,5.8-5.8,5.8H47.7c-3.2,0-5.8-2.6-5.8-5.8v-6.3c0-3.2,2.6-5.8,5.8-5.8h17.4
                                                       c3.2,0,5.8,2.6,5.8,5.8V71.4z"/>
                    <path id="phone-icon-left-eye" class="phone-icon-eye" d="M50.5,74.6c0,0.5-0.3,0.9-0.9,0.9l0,0c-0.5,0-0.9-0.3-0.9-0.9v-2.6c0-0.5,0.3-0.9,0.9-0.9l0,0
                                                                             c0.5,0,0.9,0.3,0.9,0.9V74.6z"/>
                    <path id="phone-icon-right-eye" class="phone-icon-eye" d="M63.3,74.6c0,0.5-0.3,0.9-0.9,0.9l0,0c-0.5,0-0.9-0.3-0.9-0.9v-2.6c0-0.5,0.3-0.9,0.9-0.9l0,0
                                                                              c0.5,0,0.9,0.3,0.9,0.9V74.6z"/>
                    <path class="phone-icon-mouth" d="M46.1,84.8c5.4,5.9,16.5,6.6,21.6-0.1c0.7-0.9-0.9-1.7-1.4-0.9c-4.3,5.9-14.3,4.8-18.8-0.3
                                                      C46.5,82.7,45.4,84,46.1,84.8L46.1,84.8z"/>
                  </g>
                </svg>
              </div>
              <h3 class="b2b-features-item-title">Gagnez 30% de temps de secrétariat
              </h3>
            </a>
            <a class="b2b-features-item b2b-features-item-size-normal" data-analytics-event-category="b2b" data-analytics-event-label="valueReduceNonAttendance"
			href="">
              <div class="b2b-features-item-icon b2b-features-item-icon-message">
                <svg version="1.1" id="message-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 115 115">
                  <path class="message-icon-envelope-bg" d="M56.6,61.6L56.6,61.6L56.6,61.6l0.3-0.1L30.1,40.8v32c0,1.9,0.9,2.5,2.2,2.5h50.4c1.2,0,2.2-0.9,2.3-2.1V40.6
                                                            l-27.9,21H56.6z"/>
                  <path class="message-icon-envelope-content" d="M57.7,63.6L33.5,46v23.4c0,0.8,0,2.4,2,2.4h44.8c0.6,0.1,1.2-0.3,1.3-0.9c0-0.1,0-0.1,0-0.2V45.8L57.7,63.6"/>
                  <polygon class="message-icon-envelope-top" points="30.4,40.3 30.5,43.5 58.1,64.1 84.9,43.1 84.9,40.3"/>
                  <g class="message-icon-bubble">
                    <circle class="message-icon-bubble-bg" cx="84.6" cy="40.7" r="15.4"/>
                    <path class="message-icon-bubble-text" d="M87.3,48.5h-2.9V37.3l-3.6,1.9v-2.7l4.7-2.7h1.9V48.5z"/>
                  </g>
                </svg>
              </div>
              <h3 class="b2b-features-item-title">Réduisez de 75% vos rendez‑vous non honorés
              </h3>
            </a>
            <a class="b2b-features-item b2b-features-item-size-normal" data-analytics-event-category="b2b" data-analytics-event-label="valueNewPatients"
			href="">
              <div class="b2b-features-item-icon b2b-features-item-icon-map">
                <svg version="1.1" id="map-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 115 115">
                  <linearGradient id="map-icon-pink-gradient" gradientUnits="userSpaceOnUse" x1="46.6248" y1="31.2882" x2="46.6248" y2="94.1922" gradientTransform="matrix(1 0 0 -1 0 116)">
                    <stop offset="0" style="stop-color:#FF00FF;stop-opacity:0.5"/>
                    <stop offset="0.9958" style="stop-color:#FFFFFF;stop-opacity:0"/>
                  </linearGradient>
                  <path class="map-icon-path" d="m4.87499,98.12138c41.44271,-23.06159 52.62411,19.85419 103.70259,-4.92506" />
                  <g class="map-icon-marker">
                    <path class="map-icon-marker-bg" d="M57,20c-10.7,0-19.5,8.7-19.5,19.5C37.5,57.7,54.9,77,57,77c2.4,0,19.5-20.4,19.5-37.6
                                                        C76.5,28.7,67.8,20,57,20z M57.3,46.5c-4.6,0-8.3-3.7-8.3-8.3s3.7-8.3,8.3-8.3s8.3,3.7,8.3,8.3S61.9,46.5,57.3,46.5z"/>
                    <path class="map-icon-marker-gradient" d="M57.6,29.9l0.1-9.8c0,0-0.2,0-0.4,0c-10.8,0-19.6,8.1-19.8,19.6C37.4,57.6,54.9,77,57,77c0.1,0,0.3,0,0.3-0.1
                                                              l0.2-30.3c0,0-0.2,0-0.3,0c-4.6,0-8.3-3.8-8.3-8.3S52.3,29.9,57.6,29.9z"/>
                  </g>
                  <ellipse class="map-icon-marker-shadow" cx="57.2" cy="84.1" rx="8.5" ry="2.4"/>
                </svg>
              </div>
              <h3 class="b2b-features-item-title">Renouvelez votre patientèle selon vos besoins
              </h3>
            </a>
            <a class="b2b-features-item b2b-features-item-size-normal" data-analytics-event-category="b2b" data-analytics-event-label="valueNewService" 
			href="">
              <div class="b2b-features-item-icon b2b-features-item-icon-star">
                <svg version="1.1" id="star-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 115 115">
                  <ellipse class="star-icon-star-dot" cx="89.5" cy="6" rx="0.8" ry="0.7"/>
                  <ellipse class="star-icon-star-dot" cx="76.9" cy="30.9" rx="0.6" ry="0.5"/>
                  <ellipse class="star-icon-star-dot" cx="75.7" cy="15.5" rx="1" ry="0.9"/>
                  <ellipse class="star-icon-star-dot" cx="105.8" cy="88.1" rx="1" ry="0.9"/>
                  <ellipse class="star-icon-star-dot" cx="81.9" cy="102.4" rx="0.6" ry="0.6"/>
                  <ellipse class="star-icon-star-dot" cx="98.2" cy="54.7" rx="1.2" ry="1.1"/>
                  <ellipse class="star-icon-star-dot" cx="23.2" cy="80" rx="0.7" ry="0.7"/>
                  <ellipse class="star-icon-star-dot" cx="23.9" cy="25.9" rx="0.9" ry="0.9"/>
                  <ellipse class="star-icon-star-dot" cx="53.4" cy="101.2" rx="1.1" ry="1.1"/>
                  <circle class="star-icon-circle-star" cx="57.5" cy="57.5" r="10" />
                  <polygon class="star-icon-star" points="89,51 68.8,45 57.2,24.9 45.6,45 26,49.1 40.1,64.2 37,84 57.3,75.2 76.1,84 74.5,64.3"/>
                </svg>
              </div>
              <h3 class="b2b-features-item-title">Apportez un service nouveau pour vos patients
              </h3>
            </a>
          </div>
        </div>
      </div>
      <a class="dl-button-primary dl-button dl-button-size-normal homepage-b2b-features-cta"
	  href="">
        <span class="dl-button-label">En savoir plus
        </span>
      </a>
    </div>
  </section>

		</div>
	</div>
</div>
<!-- Features Cities / End -->

<script type="text/javascript">
ELEMENT.locale(ELEMENT.lang.fr)
    new Vue({
      el: '#app',
      data: function() {
        return { 
          links: [],
        state3: '',
        recherche:{libelle:'', adresse:''}
        }
      },
      mounted () {
         this.loadAll();
      },
      methods: {

      querySearch(queryString, cb) {
        var links = this.links;
        var results = queryString ? links.filter(this.createFilter(queryString)) : links;
        cb(results);
      },
      createFilter(queryString) {
        return (link) => {
          return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      rechercheStatus(){
            if(this.recherche.libelle != ""){
                  let url = "{{ path('prestataires' , {adresse:'ququr',type:'tftfr'} ) }}";
                  let libelle = this.recherche.libelle
                  let adresse = this.recherche.adresse
                  let re = / /gi;
                   libelle = libelle.replace(re, '+');
                   adresse = adresse.replace(re, '+');

                   
                   url =  url.replace('tftfr' , libelle)
                   if(this.recherche.adresse != ""){
                      url =  url.replace('ququr' , adresse)
                   }else{

                    url =  url.replace('/ququr' , '')
                   }

                   location.href = url;

            }else{
               this.msg('Erreur', 'Tous les champs sont requis!');
                
            }

      },
      msg(title, msg) {
        this.$alert(msg, title, {
          confirmButtonText: 'OK'
        });
      },
      loadAll() {
          
          this.$http.get("{{ path('search_data') }}").then(response => {
                      
                      if(response){
                          this.links = response.body
                        }
                      }
                      , response => {
                    }
                    );

      },
      handleSelect(item) {
        console.log(item);
      },
      handleIconClick(ev) {
        console.log(ev);
      }

      },
      delimiters: ['${', '}']
    })
  </script>
{% endblock %}
{% block js %}
<script>
  $('#header-container').addClass('transparent-header');

</script>
{% endblock js %}