{% extends 'layout.html.twig' %}

{% block title %}Prestataires {{ parent() }} {% endblock %}

{% block body %}
   <!-- Spacer -->
<div class="margin-top-20"></div>
<!-- Spacer / End-->
<!-- Page Content
================================================== -->
<div class="container" id="app">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">
				
				<!-- Location -->
				<div class="sidebar-widget">
					<h3>Rechercher</h3>
					<div class="input-with-icon">
						<div id="autocomplete-container">
						  <el-autocomplete
                    v-model="recherche.libelle"
                    :fetch-suggestions="querySearch"
                    placeholder="Médecin, établissement, spécialité…"
                    :trigger-on-focus="false"
                    style="    width: 100%;"
                    >
                   
                    <template slot-scope="props">
                      <div class="value">${ props.item.value }</div>
                      <span class="link">${ props.item.link }</span>
                    </template>
                </el-autocomplete>
						</div>
					</div>
          	<div class="input-with-icon">
            <br>
						<div id="">
						 	<input id="intro-keywords" type="text" v-model="recherche.adresse" placeholder="Où ?" >
						</div>
					</div>
          	<div class="intro-search-button">
						<button @click.prevent="rechercheStatus" class="button ripple-effect" >Rechercher</button>
					</div>
				</div>

			
			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">

			<h3 class="page-title">Les résultats correspondants a votre recherche</h3>
			<div class="listings-container grid-layout margin-top-35">
			{% for prestataire in prestataires %}
				<!-- Job Listing -->
				<a href="{{path('prestataires_info', {id:prestataire.identifiant , name:prestataire.nom|replace({' ':'-'}) })}}" class="job-listing">

					<!-- Job Listing Details -->
					<div class="job-listing-details">
						<!-- Logo -->
						<div class="job-listing-company-logo">
                  <img src="{{asset(prestataire.WebPath)}}" > </td>
						</div>

						<!-- Details -->
						<div class="job-listing-description">
							<h4 class="job-listing-company">{{prestataire.nom}} <span class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span></h4>
              {% for tarif in prestataire.tarif %}
                <h5>{{ tarif.service.libelle }}</h5>
                {% endfor %}
						</div>
					</div>

					<!-- Job Listing Footer -->
					<div class="job-listing-footer">
						<span class="bookmark-icon"></span>
						<ul>
							<li><i class="icon-material-outline-location-on"></i>
               {% if prestataire.ville != null %} {{prestataire.ville.libelle}}{% endif %}
               {{prestataire.localisation}}
               </li>
							<li><i class="icon-material-outline-account-balance-wallet"></i> $35000-$38000</li>
						</ul>
					</div>
				</a>	
      {% endfor %}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  
ELEMENT.locale(ELEMENT.lang.fr)
    new Vue({
      el: '#app',
      data: function() {
        return { 
          links: [],
        state3: '',
        recherche:{libelle:'', adresse:''}
        }
      },
      mounted () {
         this.loadAll();
      },
      methods: {

      querySearch(queryString, cb) {
        var links = this.links;
        var results = queryString ? links.filter(this.createFilter(queryString)) : links;
        cb(results);
      },
      createFilter(queryString) {
        return (link) => {
          return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      rechercheStatus(){
            if(this.recherche.libelle != ""){
                  let url = "{{ path('prestataires' , {adresse:'ququr',type:'tftfr'} ) }}";
                  let libelle = this.recherche.libelle
                  let adresse = this.recherche.adresse
                  let re = / /gi;
                   libelle = libelle.replace(re, '+');
                   adresse = adresse.replace(re, '+');

                   
                   url =  url.replace('tftfr' , libelle)
                   if(this.recherche.adresse != ""){
                      url =  url.replace('ququr' , adresse)
                   }else{

                    url =  url.replace('/ququr' , '')
                   }

                   location.href = url;

            }else{
               this.msg('Erreur', 'Tous les champs sont requis!');
                
            }

      },
      msg(title, msg) {
        this.$alert(msg, title, {
          confirmButtonText: 'OK'
        });
      },
      loadAll() {
          
          this.$http.get("{{ path('search_data') }}").then(response => {
                      
                      if(response){
                          this.links = response.body
                        }
                      }
                      , response => {
                    }
                    );

      },
      handleSelect(item) {
      },
      handleIconClick(ev) {
      }

      },
      mounted: function () {
        this.recherche.libelle = "{{type}}"
        this.recherche.adresse = "{{adresse}}"
      },
      delimiters: ['${', '}']
    })
  </script>
{% endblock %}
{% block js %}
<script>
  $('body').addClass('gray');

</script>
{% endblock js %}