{% extends 'layout.html.twig' %}
{% block title %}Infos Prestataire {{ parent() }} {% endblock %}
{% block body %}
<div>
  <div class="dl-profile-bg dl-profile">
    <header class="dl-profile-header">
      <div class="dl-profile-overlay">
        <div class="dl-profile-wrapper">
          <div class="dl-profile-header-photo">
            <img src="{{asset(prestataire.WebPath)}}" > 
            </td>
        </div>
        <div class="dl-profile-header-name-speciality">
          <h1 class="dl-profile-header-name"> 
            <span >{{prestataire.nom}}
            </span>
          </h1>
          <h2 class="dl-profile-header-speciality">
            <span > {% if prestataire.tarif != null and prestataire.tarif[0] is defined  %} {{prestataire.tarif[0].service.libelle}} {% endif %}
            </span>
          </h2>
        </div>
      </div>
      </div>
    </header>
  <nav class="dl-profile-nav">
    <div class="dl-profile-wrapper">
      <ul class="dl-profile-nav-links js-profile-navbar">
        <li class="dl-profile-nav-link js-profile-navbar-item dl-profile-nav-link-selected">
          <a class="ancree" href="#Tarifs">Tarifs 
          </a>
        </li>
        <li class="dl-profile-nav-link js-profile-navbar-item">
          <a class="ancree" href="#Carte">Carte
          </a>
        </li>
        <li class="dl-profile-nav-link js-profile-navbar-item">
          <a class="ancree" href="#presentation">Présentation
          </a>
        </li>
        <li class="dl-profile-nav-link js-profile-navbar-item">
          <a class="ancree" href="#Horaires">Horaires
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="dl-profile-wrapper dl-profile-responsive-wrapper">
    <div class="dl-profile-body-wrapper">
      <div class="dl-profile-anchor" id="Tarifs">
      </div>
      <div class="dl-profile-card">
        <div class="dl-profile-card-section">
          <div class="dl-profile-card-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 17 20">
              <path d="M6.08 9.06v1.74h4.8c.78 0 1.32.3 1.63.85.4.57.4 1.13 0 1.7-.3.56-.8.85-1.6.85H6.8c.4.9.88 1.48 1.47 1.76.6.28 1.45.42 2.54.42 1.5 0 2.5-.46 3.1-1.38.5-.62 1-.87 1.7-.74.7.14 1.1.48 1.4 1.03.3.5.28 1.1-.02 1.7-1.16 2-3.2 3-6.1 3-4.16 0-6.7-2-7.6-5.9H1.9c-.77 0-1.3-.3-1.63-.9-.3-.6-.3-1.1 0-1.7.3-.6.86-.9 1.63-.9h.52V9h-.6C1.06 9 .5 8.75.2 8.2c-.3-.5-.3-1.03 0-1.56.3-.58.9-.8 1.68-.8h1.2a6.69 6.69 0 0 1 2.74-4.3A8.77 8.77 0 0 1 10.8 0c1.04 0 2.08.25 3.13.74a5.1 5.1 0 0 1 2.3 1.94c.4.62.46 1.22.13 1.78-.33.57-.8.87-1.38.9-.6.03-1.1-.2-1.56-.67-.23-.4-.64-.6-1.22-.8-.58-.2-1.1-.3-1.53-.3-.98 0-1.78.2-2.38.6-.7.4-1.1.7-1.2 1.1-.2.3-.3.5-.2.5h3.9c.7 0 1.3.2 1.6.8.3.5.3 1 0 1.5s-.9.8-1.6.8H6z">
              </path>
            </svg>
          </div>
          <div class="dl-profile-card-content">
            <h4 class="dl-profile-card-title">Tarifs
            </h4>
            {% for tarif in prestataire.tarif %}
            <hr class="dl-profile-separator" />
            <div class="dl-profile-text dl-profile-fee">
              <div class="dl-profile-fee-name">{{ tarif.service.libelle }}
              </div>
              <div class="dl-profile-fee-tag">{{ tarif.prix }} FCFA
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="dl-profile-anchor" id="presentation">
      </div>
      <div class="dl-profile-card">
        <div class="dl-profile-card-section">
          <div class="dl-profile-row-content">
            <div class="dl-profile-card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 17 20">
                <path d="M6.08 9.06v1.74h4.8c.78 0 1.32.3 1.63.85.4.57.4 1.13 0 1.7-.3.56-.8.85-1.6.85H6.8c.4.9.88 1.48 1.47 1.76.6.28 1.45.42 2.54.42 1.5 0 2.5-.46 3.1-1.38.5-.62 1-.87 1.7-.74.7.14 1.1.48 1.4 1.03.3.5.28 1.1-.02 1.7-1.16 2-3.2 3-6.1 3-4.16 0-6.7-2-7.6-5.9H1.9c-.77 0-1.3-.3-1.63-.9-.3-.6-.3-1.1 0-1.7.3-.6.86-.9 1.63-.9h.52V9h-.6C1.06 9 .5 8.75.2 8.2c-.3-.5-.3-1.03 0-1.56.3-.58.9-.8 1.68-.8h1.2a6.69 6.69 0 0 1 2.74-4.3A8.77 8.77 0 0 1 10.8 0c1.04 0 2.08.25 3.13.74a5.1 5.1 0 0 1 2.3 1.94c.4.62.46 1.22.13 1.78-.33.57-.8.87-1.38.9-.6.03-1.1-.2-1.56-.67-.23-.4-.64-.6-1.22-.8-.58-.2-1.1-.3-1.53-.3-.98 0-1.78.2-2.38.6-.7.4-1.1.7-1.2 1.1-.2.3-.3.5-.2.5h3.9c.7 0 1.3.2 1.6.8.3.5.3 1 0 1.5s-.9.8-1.6.8H6z">
                </path>
              </svg>
            </div>
            <div class="dl-profile-card-content dl-profile-card-content-column">
              <div class="dl-profile-card-subtitle">Présentation du prestataire
              </div>
              <div class="dl-profile-text">
                {{prestataire.presentation|raw}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dl-profile-anchor" id="Carte">
      </div>
      <div class="dl-profile-card">
        <div class="dl-profile-card-section">
          <div class="dl-profile-card-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20">
              <path d="M16 7.5c0-1-.2-2-.7-3-.3-.8-1-1.6-1.7-2.3A8.69 8.69 0 0 0 8 0C7 0 6 .2 5 .6c-1 .4-2 1-2.7 1.6C1.6 3 1 3.7.7 4.6a6.4 6.4 0 0 0 0 5.8c0 .4.4 1 .8 1.4l5.2 7.5c.4.5.8.7 1.3.7s1-.2 1.3-.7l5.2-7.5c.4-.5.7-1 .8-1.4.5-1 .7-2 .7-3zm-6 2c-.5.5-1.2.8-2 .8s-1.5-.3-2-1c-.7-.4-1-1-1-1.8s.3-1.4 1-2c.5-.5 1.2-.8 2-.8s1.5.3 2 .8c.7.6 1 1.2 1 2 0 .7-.3 1.4-1 2z">
              </path>
            </svg>
          </div>
          <div class="dl-profile-card-content">
            <h4 class="dl-profile-card-title">Carte et informations d&#39;accès
            </h4>
            <div class="dl-profile-text">
              <div itemprop="address" itemscope="true" itemtype="http://schema.org/PostalAddress">
                <h5 class="dl-profile-practice-name" itemprop="name">
                  {{prestataire.nom}}
                </h5>
                <span itemprop="streetAddress">
                  {{prestataire.localisation}}
                </span>, 
                <span itemprop="postalCode">
                  {% if prestataire.commune != null %}
                  {{prestataire.commune.libelle}}
                  {% endif %}
                </span> 
                <span itemprop="addressLocality">
                  {% if prestataire.commune != null %}
                  {{prestataire.ville.libelle}}
                  {% endif %}
                </span>
              </div>
            </div>
            <div class="dl-profile-text">
              <h4 class="dl-profile-card-subtitle">Moyens de transport
              </h4>
              <div> {{prestataire.moyenTransport|raw}}
              </div>
              <br />
            </div>
            <div class="dl-profile-text">
              <h4 class="dl-profile-card-subtitle">Autres Informations
              </h4>
              <div> {{prestataire.autreInfo|raw}}
              </div>
              </span>
          </div>
        </div>
        <div class="dl-profile-doctor-place-map">
          <img srcset="https://maps.googleapis.com/maps/api/staticmap?center=48.8609715,2.3682912&amp;channel=desktop&amp;client=gme-doctolib&amp;maptype=roadmap&amp;markers=color:0xFEC400%7C48.8609715,2.3682912&amp;scale=1&amp;sensor=false&amp;size=324x500&amp;zoom=15&amp;signature=woe7B0zSpIbMhmowjY0lrxASZUU= 1x, https://maps.googleapis.com/maps/api/staticmap?center=48.8609715,2.3682912&amp;channel=desktop&amp;client=gme-doctolib&amp;maptype=roadmap&amp;markers=color:0xFEC400%7C48.8609715,2.3682912&amp;scale=2&amp;sensor=false&amp;size=324x500&amp;zoom=15&amp;signature=1TIFh_1qEdmLIoEt-3ekC2RnrPY= 2x" width="324" height="400" alt="5 Rue Saint-Sébastien, 75011 Paris" data-map-modal="{&quot;title&quot;:&quot;5 Rue Saint-Sébastien, 75011 Paris&quot;,&quot;lat&quot;:48.8609715,&quot;lng&quot;:2.3682912}" style="cursor: pointer" class="dl-profile-doctor-place-map-img" src="https://maps.googleapis.com/maps/api/staticmap?center=48.8609715,2.3682912&amp;channel=desktop&amp;client=gme-doctolib&amp;maptype=roadmap&amp;markers=color:0xFEC400%7C48.8609715,2.3682912&amp;sensor=false&amp;size=324x500&amp;zoom=15&amp;signature=4a3FYOeTxhQ_apUrgUYmuI509zo=" />
        </div>
      </div>
    </div>
    <div class="dl-profile-anchor" id="Horaires">
    </div>
    <div class="dl-profile-card">
      <div class="dl-profile-card-section">
        <div class="dl-profile-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <path d="M10 0c2.8 0 5 1 7 3s3 4.2 3 7-1 5-3 7-4.2 3-7 3-5-1-7-3-3-4.2-3-7 1-5 3-7 4-3 7-3m0 17.8c2.2 0 4-.7 5.5-2.3a7.8 7.8 0 0 0 2.3-5.5c0-2.2-.7-4-2.3-5.5A7.47 7.47 0 0 0 10 2.2c-2 0-4 .7-5.5 2.3A7.47 7.47 0 0 0 2.2 10c0 2 .7 4 2.3 5.5a7.8 7.8 0 0 0 5.5 2.3m.8-13.5v5.4L14 13l-1 1-3.7-3.7v-6h1.5">
            </path>
          </svg>
        </div>
        <div class="dl-profile-card-content">
          <h4 class="dl-profile-card-title">Horaires et contacts
          </h4>
          <div class="dl-profile-row-content">
            <div class="dl-profile-box">
              <h4 class="dl-profile-card-subtitle">Ouverture du secrétariat
              </h4>
              <div class="js-opening-hours">
                <div>
                  {% for agenda in prestataire.agenda %}
                  <time content="Mo 07:30-19:00" itemprop="openingHours">{{ agenda.jourFrench }} : {{ agenda.heureD|date('H:i') }} - {{ agenda.heureF|date('H:i') }}
                  </time>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="dl-profile-box">
              <h4 class="dl-profile-card-subtitle">Contact du secrétariat
              </h4>
              <div>Numéro de téléphone : 
                <span content="0972456913" itemprop="telephone">{{ prestataire.telephone }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dl-profile-booking-wrapper" id="app">
    <div class="dl-profile-booking" id="booking" data-props="{&quot;profileSlug&quot;:&quot;helene-dusaussoy&quot;,&quot;showTitle&quot;:true,&quot;isPartnersDomain&quot;:false,&quot;account&quot;:{&quot;insuranceSector&quot;:null},&quot;compactLayout&quot;:true,&quot;sticky&quot;:true,&quot;backDrop&quot;:true}">
      <div data-reactroot="" style="">
        <div>
          <div>
          </div>
          <div style="position: relative;">
            <div>
              <div class="dl-booking-title">
                <div class="dl-text dl-text-title-sub-bold dl-text-color-inherit">Prenez votre rendez-vous en ligne
                </div>
                <div class="dl-booking-title-subtext">
                  <span class="dl-text dl-text-body dl-text-color-inherit">Renseignez les informations suivantes
                  </span>
                </div>
              </div>
              <div class="booking booking-compact-layout">
                <div class="booking-step">
                  <div class="booking-step-progress">
                  </div>
                  <div class="booking-step-number">
                    <div>1
                    </div>
                  </div>
                  <div class="dl-layout-container dl-layout-spacing-xs-0">
                    <div class="dl-layout-item dl-layout-size-xs-12 dl-layout-size-sm-12">
                      <label class="dl-text dl-text-body-subtitle booking-step-label" for="booking_motive">Motif de consultation
                      </label>
                    </div>
                    <div class="dl-layout-item dl-layout-size-xs-12 dl-layout-size-sm-12 booking-step-right-container">
                      <select v-model="type" class="dl-select form-control dl-select-block booking-compact-select" id="booking_motive">
                        <option value="">Choisissez un motif
                        </option>
                        <option value="Consultation de médecine générale">Consultation de médecine générale
                        </option>
                        <option value="Certificat médical">Certificat médical
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <hr class="dl-divider">
                <div>
                 <div class="results ">
            <div class="row-center row-padding-1 ">
              <div class="col-12 col-padding search-results-col-list " v-for="(prestataire,key) in prestataires"  >
              <div class="dl-search-result " v-loading="prestataire.load" >
                <div class="dl-search-result-calendar">
                  <div class="js-dl-search-results-calendar loaded" >
                    <div data-reactroot="" style="position: relative;">
                      <div style="overflow: visible; width: 0px;">
                        <div class="dl-desktop-availabilities dl-desktop-availabilities-flat" style="width: 300px;">
                          <div class="dl-desktop-availabilities-inner">
                            <div class="dl-desktop-availabilities-days">
                              <div @click="prevAgenda(key)" v-bind:class="{ 'availabilities-pagination-disabled': prestataire.prev }" class="availabilities-pagination ">
                                <svg  class="availabilities-pagination-arrow" width="10" height="16" viewBox="0 0 10 16">
                                 <path d="M6.7.5c.2-.3.5-.5 1-.5s.8.2 1.2.5c.5.6.5 1.4 0 2.2L3.5 8 9 13.5c.6.8.6 1.5 0 2.2-.4.3-.8.4-1.3.4-.4 0-.8 0-1-.3L.4 9C0 9 0 8.6 0 8c0-.4 0-.8.4-1L6.7.5z"></path> 
                                </svg>
                              </div>
                              <div class="availabilities-day" v-for="(agenda, index) in prestataire.agenda">
                                <div class="availabilities-day-title" >
                                  <div class="availabilities-day-name">${index}
                                  </div>
                                  <div class="availabilities-day-date"><span v-if="agenda[0]">${agenda[0].periode}</span> 
                                  </div>
                                </div>
                                <div class="availabilities-slots" v-for="i in prestataire.nb">
                                  <div v-if="agenda[i]" v-bind:class="{ 'selectcreno': agenda[i].active }" class="availabilities-slot" @click.prevent="rdvselect(prestataire,i,index,key)">
                                   		${agenda[i].heure}
                                  </div>
                                  <div v-else class="availabilities-empty-slot"><div class="availabilities-empty-slot-dash"></div></div>
                                
                                </div>
                              </div>
                           
                              <div class="availabilities-pagination" @click="nexAgenda(key)" v-bind:class="{ 'availabilities-pagination-disabled': prestataire.next }" >
                                <svg class="availabilities-pagination-arrow" width="10" height="16" viewBox="0 0 10 16">
                                  <path d="M2.7.5c-.2-.3-.5-.5-1-.5S1 .2.5.5C-.2 1-.2 2 .5 2.7L5.7 8 .5 13.5c-.7.8-.7 1.5 0 2.2.3.3.7.4 1.2.4.4 0 .8 0 1-.3L9 9c.3-.2.4-.5.4-1 0-.4 0-.8-.4-1L2.7.5z">
                                  </path>
                                </svg>
                              </div>
                            </div>
                            <div class="dl-desktop-availabilities-header-border">
                            </div>
                            <!-- react-empty: 70 -->
                            <span>
                            </span>
                            <span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- react-empty: 3 -->
                      <span>
                        <!-- react-empty: 5 -->
                        <div>
                        </div>
                        <!-- react-empty: 7 -->
                      </span>
                      <div class="resize-triggers">
                        <div class="expand-trigger">
                          <div style="width: 396px; height: 241px;">
                          </div>
                        </div>
                        <div class="contract-trigger">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                </div>
               {#} <div class="booking-step">
                  <div class="dl-layout-container dl-layout-spacing-xs-0">
                    <div class="dl-layout-item dl-layout-size-xs-12 dl-layout-size-sm-12 booking-step-right-container">
                      <div>
                        <div class="booking-availabilities" style="position: relative;">
                          <div style="overflow: visible; width: 0px;">
                            <div class="dl-desktop-availabilities dl-desktop-availabilities-flat dl-desktop-availabilities-disabled" style="width: 341px;">
                              <div class="dl-desktop-availabilities-inner">
                                <div class="dl-desktop-availabilities-days">
                                  <div class="availabilities-pagination availabilities-pagination-disabled">
                                    <svg class="availabilities-pagination-arrow" width="10" height="16" viewBox="0 0 10 16">
                                      <path d="M6.7.5c.2-.3.5-.5 1-.5s.8.2 1.2.5c.5.6.5 1.4 0 2.2L3.5 8 9 13.5c.6.8.6 1.5 0 2.2-.4.3-.8.4-1.3.4-.4 0-.8 0-1-.3L.4 9C0 9 0 8.6 0 8c0-.4 0-.8.4-1L6.7.5z">
                                      </path>
                                    </svg>
                                  </div>
                                  <div class="availabilities-day">
                                    <div class="availabilities-day-title">
                                      <div class="availabilities-day-name">mer.
                                      </div>
                                      <div class="availabilities-day-date">27 déc.
                                      </div>
                                    </div>
                                    <div class="availabilities-slots">
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="availabilities-day">
                                    <div class="availabilities-day-title">
                                      <div class="availabilities-day-name">jeu.
                                      </div>
                                      <div class="availabilities-day-date">28 déc.
                                      </div>
                                    </div>
                                    <div class="availabilities-slots">
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="availabilities-day">
                                    <div class="availabilities-day-title">
                                      <div class="availabilities-day-name">ven.
                                      </div>
                                      <div class="availabilities-day-date">29 déc.
                                      </div>
                                    </div>
                                    <div class="availabilities-slots">
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="availabilities-day">
                                    <div class="availabilities-day-title">
                                      <div class="availabilities-day-name">sam.
                                      </div>
                                      <div class="availabilities-day-date">30 déc.
                                      </div>
                                    </div>
                                    <div class="availabilities-slots">
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                      <div class="availabilities-empty-slot">
                                        <div class="availabilities-empty-slot-dash">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="availabilities-pagination availabilities-pagination-disabled">
                                    <svg class="availabilities-pagination-arrow" width="10" height="16" viewBox="0 0 10 16">
                                      <path d="M2.7.5c-.2-.3-.5-.5-1-.5S1 .2.5.5C-.2 1-.2 2 .5 2.7L5.7 8 .5 13.5c-.7.8-.7 1.5 0 2.2.3.3.7.4 1.2.4.4 0 .8 0 1-.3L9 9c.3-.2.4-.5.4-1 0-.4 0-.8-.4-1L2.7.5z">
                                      </path>
                                    </svg>
                                  </div>
                                </div>
                                <div class="dl-desktop-availabilities-header-border">
                                </div>
                                <!-- react-empty: 92 -->
                                <span>
                                </span>
                                <span>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="resize-triggers">
                            <div class="expand-trigger">
                              <div style="width: 342px; height: 197px;">
                              </div>
                            </div>
                            <div class="contract-trigger">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>#}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

 <script>
 	var list = [];
 		var tmp = {};
      tmp.id = "{{prestataire.identifiant}}"
 			tmp.type = "{{prestataire.type}}"
 			tmp.img = "{{asset(prestataire.webPath)}}" 
 			tmp.name = "{{prestataire.nom}}"
      {#tmp.url = "{{ path('prestataires_agenda' , {id:prestataire.id}) }}"
      tmp.profil = "{{ path('prestataires_type' , {id:prestataire.id , name:prestataire.nom|replace(' ','+') }) }}"
 			tmp.rdv = "{{ path('prestataires_rdv' , {id:prestataire.id , name:prestataire.nom|replace(' ','+') }) }}"#}
      tmp.adresse = "{{prestataire.adresse}}"
 			tmp.pays = ""
 			tmp.tarif = []
      tmp.agenda = []
      tmp.nb = 0
      tmp.next = false
      tmp.prev = true 
      tmp.load = false 
      tmp.date = '' 
 			tmp.semaine = new Date("{{'now'|date('Y,m,d')}}")
 				{% for tarif in prestataire.tarif %}
 					var tarif = {};
 					tarif.id = "{{tarif.id}}"
 					tarif.cout = "{{tarif.prix}}"
 					tarif.service = "{{tarif.service.libelle}}"
 					tmp.tarif.push(tarif)
 				{% endfor %}
 	list.push(tmp)


    new Vue({
      el: '#app',
      data: function() {
        return { 
           compte:{
                new:{
                    nom:'',
                    raison:'',
                    tva:'',
                    prenom:'',
                    tel:'',
                    ville:'',
                    pays:'',
                    adresse:'',
                    mail:'',
                    pass:'',
                    verifpass:'',
                    residance:'',
                    indicatif:'',
                },
                user:{mail:'' , pass:''  } 
             },
            etaperdv: 0,
            prestkey:null,
            selectcreno:false,
        		prestataires:list,
            focusprestataire:{},
        		semaine:null,
            loading2:false,
            type:'',
            nb:0,
              links: [],
        state3: '',
        v:{
          code:''
        },
        recherche:{libelle:'', adresse:''},
        rdv:{motif:'', commentaire:'', date:'', heure:'' , specialite:'' , prestataire:'', patient:'' , auth:null, login:false, },
        }
      },
      mounted () {
      		this.semaine = new Date("{{'now'|date('Y,m,d')}}")
      		this.agenda();
      },
      methods: {
        msg(title,content) {
        this.$alert(content, title, {
          confirmButtonText: 'OK',
          callback: action => {
          
          }
        });
      },
      valideCode(){
          if(this.v.code =="9090"){
              this.etaperdv = 3;
          }else{
            this.msg("Alerte","Code invalide "); 
          }
      } ,
      indicatif(){
                $this = this;
                this.pays.forEach(function(element) {
                      if($this.compte.new.pays == element.id){

                          $this.compte.new.indicatif = element.indicatif ;

                      }
                });

            },
         prevAgenda(index){

                let now = new Date("{{'now'|date('Y,m,d')}}")
                let date = new Date(this.prestataires[index].semaine);  
                date.setDate(this.prestataires[index].semaine.getDate()-7);

                if(date >= now){
                    this.prestataires[index].semaine.setDate(this.prestataires[index].semaine.getDate()-7);
                    this.agendaPrest(index)
                }

        },
        rdvselect(item,i,j,h){
          
          let semaines = ["Lundi", "Mardi" , "Mercredi" , "Jeudi" , "Vendredi" , "Samedi" , "Dimanche" ];
          for (var index = 0; index < this.prestataires.length; index++) {

               for (var e = 0; e < semaines.length; e++) { 
                  if( typeof this.prestataires[index].agenda[semaines[e]] !== 'undefined' ){
                        for (var nb = 0; nb < this.prestataires[index].agenda[semaines[e]].length; nb++) {
                          this.prestataires[index].agenda[semaines[e]][nb].active = false;
                        }
                  } 
              }


          }
          this.prestkey = h;
          this.prestataires[h].agenda[j][i].active = true;
        sessionStorage.setItem("rdv", JSON.stringify({ heure:this.prestataires[h].agenda[j][i],  prestataire:item }) );
            this.focusprestataire = item;
            let url = "{{path('prestataires_prise_rdv', {id:prestataire.identifiant , name:prestataire.nom|replace({' ':'-'}) })}}";
            sessionStorage.setItem("url", url);
            {% if app.user != null and app.user.client != null %}
                let session = true;
            {% else %}
              let  session = false;
            {% endif %}
            if(session){
                    location.href = url;
            }else{
                /*$('#sign-in-dialog').magnificPopup({
                        src: '#sign-in-dialog',
                        type: 'inline'
                    });*/
                    $.magnificPopup.open({
                        items: {
                            src: '#sign-in-dialog'
                        },
                        type: 'inline'
                        });
               

            }
        },
        nexAgenda(index){
                 let now = new Date("{{'now'|date('Y,m,d')}}")
                let date = new Date(this.prestataires[index].semaine);  
                date.setDate(this.prestataires[index].semaine.getDate()+7);

                if(date >= now){
                    this.prestataires[index].semaine.setDate(this.prestataires[index].semaine.getDate()+7);
                    this.agendaPrest(index)
                }
        },
         agendaPrest(index){
                let dd = this.prestataires[index].semaine.getDate();
            let mm = this.prestataires[index].semaine.getMonth()+1; 
            let yyyy = this.prestataires[index].semaine.getFullYear();
            if(dd<10) {
                dd = '0'+dd
            } 

            if(mm<10) {
                mm = '0'+mm
            } 
           let today = yyyy + '-' + mm + '-' + dd;
                  this.prestataires[index].load  = true;
                  let url = "{{ path('prestataires_agenda' , {id:prestataire.identifiant}) }}"
                    this.$http.post(url, {semaine:today} ).then(response => {
                      
                      if(response){
                          this.prestataires[index].agenda = response.body.periode
                          this.prestataires[index].nb = response.body.nb
                          this.prestataires[index].date = response.body.date
                          let now = new Date("{{'now'|date('Y,m,d')}}")
                          let date = new Date(this.prestataires[index].semaine);  
                          date.setDate(this.prestataires[index].semaine.getDate()-7);

                          if(date >= now){
                              this.prestataires[index].prev = false
                          }else{
                             this.prestataires[index].prev = true
                          }

                        let  datePrev = new Date(this.prestataires[index].semaine);  
                          datePrev.setDate(this.prestataires[index].semaine.getDate()+7);

                          if(datePrev >= now){
                              this.prestataires[index].next = false
                          }else{
                             this.prestataires[index].next = true
                          }
                          this.prestataires[index].load = false
                        }
                      }
                      , response => {
                    }
                    );

          },
	      agenda(){
	      			self = this;
	      				let dd = this.semaine.getDate();
						let mm = this.semaine.getMonth()+1; 
						let yyyy = this.semaine.getFullYear();
						if(dd<10) {
						    dd = '0'+dd
						} 

						if(mm<10) {
						    mm = '0'+mm
						} 
						let today = yyyy + '-' + mm + '-' + dd;
                    this.prestataires[0].load = true
                    let url = "{{ path('prestataires_agenda' , {id:prestataire.identifiant}) }}"
	      						self.$http.post(url, {semaine:today} ).then(response => {
											
											if(response){
													this.prestataires[0].agenda = response.body.periode
                          this.prestataires[0].nb = response.body.nb
												  this.prestataires[0].date = response.body.date
                          this.prestataires[0].load = false

												}
											}
											, response => {
										}
										);

	      },

      querySearch(queryString, cb) {
        var links = this.links;
        var results = queryString ? links.filter(this.createFilter(queryString)) : links;
        cb(results);
      },
      createFilter(queryString) {
        return (link) => {
          return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      rechercheStatus(){
            if(this.recherche.libelle != ""){
                  let url = "{{ path('prestataires' , {adresse:'ququr',type:'tftfr'} ) }}";
                  let libelle = this.recherche.libelle
                  let adresse = this.recherche.adresse
                  let re = / /gi;
                   libelle = libelle.replace(re, '+');
                   adresse = adresse.replace(re, '+');

                   
                   url =  url.replace('tftfr' , libelle)
                   if(this.recherche.adresse != ""){
                      url =  url.replace('ququr' , adresse)
                   }else{

                    url =  url.replace('/ququr' , '')
                   }

                   location.href = url;

            }else{
              this.$message.error('Erreur, Tous les champs sont requis!');
            }

      },
      loadAll() {
          
          this.$http.get("{{ path('search_data') }}").then(response => {
                      
                      if(response){
                          this.links = response.body
                        }
                      }
                      , response => {
                    }
                    );

      },
      profil(item) {
        console.log(item.profil)
          location.href = item.profil
      },
      handleIconClick(ev) {
        console.log(ev);
      }

      },
      delimiters: ['${', '}']
    })
  </script>
<style type="text/css">
.dl-search-result-presentation {
    width: auto!important;
}
  .dl-profile-booking {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  .profiles #booking, .appointments #booking {
    min-height: 300px;
  }
  .dl-backdrop {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
    display: flex;
  }
  .dl-backdrop-light {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .dl-booking-title {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 148, 74);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: rgba(67, 95, 113, 0.2) 0px 4px 10px 0px;
    margin-bottom: -4px;
    z-index: 1;
  }
  .dl-booking-title::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: auto;
    margin-top: 0px;
    margin-left: -6px;
    bottom: -6px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 0px;
    border-left-width: 6px;
    border-top-color: rgb(0, 148, 74);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(1turn);
  }
  .dl-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 400;
    color: rgb(67, 95, 113);
  }
  .dl-text-color-inherit {
    color: inherit;
  }
  .dl-text-title-sub-bold {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  .dl-text-color-inherit, .dl-text-hack-link-inherit a {
    color: inherit;
  }
  .dl-booking-title-subtext {
    margin-top: 8px;
  }
  .dl-text-body, .dl-alert {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.7;
  }
  .dl-text-body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.7;
  }
  .dl-alert, .dl-text-body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.7;
  }
  .booking {
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 14px;
    padding-left: 0px;
  }
  .booking.booking-compact-layout {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(67, 95, 113, 0.2);
    border-right-color: rgba(67, 95, 113, 0.2);
    border-bottom-color: rgba(67, 95, 113, 0.2);
    border-left-color: rgba(67, 95, 113, 0.2);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: rgba(67, 95, 113, 0.08) 0px 4px 10px;
  }
  .booking-step {
    position: relative;
    padding-left: 28px;
    padding-right: 14px;
  }
  .booking-step-progress {
    position: absolute;
    left: -1px;
    top: 25px;
    height: 0px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(23, 179, 85);
  }
  .booking-step-progress.booking-step-progress-completed {
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    transition-property: all;
    height: calc(100% + 1px);
  }
  .booking-step-number {
    position: absolute;
    width: 28px;
    height: 28px;
    left: -14px;
    top: -3px;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(0, 148, 0);
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: initial;
    transition-property: background-color;
  }
  .booking-step-number-completed {
    background-color: rgb(23, 179, 85);
  }
  .front-icon-checkmark::before {
    content: "U";
  }
  .dl-layout-container {
    display: flex;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -7px;
    margin-right: -7px;
    margin-bottom: -7px;
    margin-left: -7px;
    width: calc(100% + 14px);
  }
  .dl-layout-spacing-xs-0 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
  }
  .dl-layout-container > .dl-layout-item {
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
  }
  .dl-layout-spacing-xs-0 > .dl-layout-item {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .dl-layout-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    box-sizing: border-box;
  }
  .dl-layout-size-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
  }
  .dl-text-body-subtitle {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.7;
    font-weight: 700;
  }
  .booking-step-label {
    padding-bottom: 4px;
  }
  .booking-compact-layout .booking-step-right-container {
    text-align: left;
  }
  button, input, select, textarea {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: inherit;
    font-size: 100%;
  }
  button, select {
    text-transform: none;
  }
  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(217, 223, 226);
    border-right-color: rgb(217, 223, 226);
    border-bottom-color: rgb(217, 223, 226);
    border-left-color: rgb(217, 223, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: none;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial, initial;
    transition-property: border-color, box-shadow;
    font-weight: 400;
  }
  .form-control:focus {
    border-top-color: rgb(102, 175, 233);
    border-right-color: rgb(102, 175, 233);
    border-bottom-color: rgb(102, 175, 233);
    border-left-color: rgb(102, 175, 233);
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    box-shadow: rgba(67, 95, 113, 0.2) 0px 0px 4px;
  }
  .form-control::-webkit-input-placeholder {
    color: rgba(67, 95, 113, 0.7);
    font-style: normal;
    transition-duration: 500ms;
    transition-timing-function: initial;
    transition-delay: initial;
    transition-property: color;
  }
  .form-control::placeholder {
    font-style: normal;
    color: rgba(67, 95, 113, 0.7);
    transition-duration: 500ms;
    transition-timing-function: initial;
    transition-delay: initial;
    transition-property: color;
  }
  select.form-control.dl-select {
    font-family: Roboto, Arial, sans-serif;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(217, 223, 226);
    border-right-color: rgb(217, 223, 226);
    border-bottom-color: rgb(217, 223, 226);
    border-left-color: rgb(217, 223, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(67, 95, 113);
    line-height: 20px;
    width: auto;
    padding-right: 30px;
    background-image: url("/webpack/2985b30dd3acc98dbe57350bc7a05bd8.svg");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: right 14px;
    background-position-y: center;
    background-size: 10px 5px;
    -webkit-appearance: none;
    box-shadow: none;
  }
  select.form-control.dl-select:focus {
    box-shadow: rgb(5, 150, 222) 0px 0px 2px;
  }
  select.form-control.dl-select-block {
    width: 100%;
  }
  .booking .booking-compact-select {
    font-size: 12px;
  }
  hr {
    height: 0px;
    box-sizing: content-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
  }
  .dl-divider {
    position: relative;
    height: 1px;
    margin-top: -1px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgba(67, 95, 113, 0.2);
  }
  .booking hr {
    margin-top: 14px;
    margin-right: 0px;
    margin-bottom: 14px;
    margin-left: 0px;
  }
  .booking-availabilities {
    margin-top: 14px;
  }
  .booking-compact-layout .booking-availabilities {
    margin-left: -14px;
  }
  .dl-desktop-availabilities {
    position: relative;
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 42px;
    padding-left: 14px;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(67, 95, 113, 0.15) 0px 0px 20px 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .dl-desktop-availabilities.dl-desktop-availabilities-flat {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .dl-desktop-availabilities-flat {
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .dl-desktop-availabilities-inner {
    position: relative;
  }
  .dl-desktop-availabilities-days {
    display: flex;
  }
  .availabilities-pagination {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 19px;
    margin-top: 8px;
    text-align: center;
  }
  svg:not(:root) {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .availabilities-pagination .availabilities-pagination-arrow {
    display: inline;
    height: auto;
    width: 14px;
    cursor: pointer;
    fill: rgb(5, 150, 222);
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
    transition-property: color, opacity;
  }
  .availabilities-pagination .availabilities-pagination-arrow:hover {
    fill: rgb(7, 122, 199);
  }
  .availabilities-pagination.availabilities-pagination-disabled .availabilities-pagination-arrow {
    cursor: default;
    fill: rgb(67, 95, 113);
    opacity: 0.3;
  }
  .availabilities-day {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
    margin-top: 0px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-left: 7px;
  }
  .availabilities-day-title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 14px;
  }
  .availabilities-day-name {
    font-weight: 700;
  }
  .availabilities-empty-slot {
    width: 100%;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    height: 34px;
    line-height: 34px;
    display: flex;
    align-items: center;
  }
  .availabilities-empty-slot-dash {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 12px;
    height: 2px;
    background-color: rgba(67, 95, 113, 0.2);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
  }
  .availabilities-slot {
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
    transition-property: background-color, color;
    background-color: rgb(204, 236, 250);
  }
  .availabilities-slot:hover {
    background-color: rgb(255, 229, 0);
  }
  .dl-desktop-availabilities-header-border {
    position: absolute;
    top: 51px;
    left: 28px;
    right: 28px;
    height: 1px;
    background-color: rgb(217, 223, 226);
  }
  .availabilities-more-button {
    display: block;
    margin-top: 0px;
    margin-right: 28px;
    margin-left: 28px;
    margin-bottom: -40px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(217, 223, 226);
    line-height: 34px;
    color: rgb(5, 150, 222);
  }
  .dl-desktop-availabilities-flat .availabilities-more-button {
    margin-bottom: 0px;
  }
  button, input {
    line-height: normal;
  }
  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  .dl-button {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 13px;
    color: rgb(67, 95, 113);
    height: 44px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    box-shadow: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: inline-block;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
    transition-duration: 0.5s, 0.2s, 0.2s;
    transition-timing-function: initial, initial, initial;
    transition-delay: initial, initial, initial;
    transition-property: opacity, color, background-color;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  .dl-button-danger-link, .dl-button-default-link, .dl-button-info-link, .dl-button-primary-link, .dl-button-warning-link {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
  }
  .dl-button-info-link {
    color: rgb(5, 150, 222);
  }
  .dl-button-info-link:not([disabled]):hover {
    color: rgb(7, 122, 199);
  }
  .dl-button-block {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .booking-step-right-container button {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .booking-compact-layout .booking-step-right-container button {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .dl-button-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    height: 100%;
  }
  .resize-triggers {
    animation-duration: 1ms;
    animation-timing-function: initial;
    animation-delay: initial;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
    animation-name: resizeanim;
    visibility: hidden;
    opacity: 0;
  }
  .resize-triggers, .resize-triggers > div, .contract-trigger::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: -1;
  }
  .resize-triggers > div {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(238, 238, 238);
    overflow-x: auto;
    overflow-y: auto;
  }
  .contract-trigger::before {
    width: 200%;
    height: 200%;
  }
</style>
<style type="text/css">
  
  .cl_color
{
    border-top : 1px solid #525252;
    border-bottom : 1px solid #525252;
}

.dl-desktop-availabilities-days {
  display: flex;
}
.availabilities-pagination {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 19px;
  margin-top: 8px;
  text-align: center;
}
svg:not(:root) {
  overflow-x: hidden;
  overflow-y: hidden;
}
.availabilities-pagination .availabilities-pagination-arrow {
  display: inline;
  height: auto;
  width: 14px;
  cursor: pointer;
  fill: rgb(5, 150, 222);
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
  transition-property: color, opacity;
}
.availabilities-pagination .availabilities-pagination-arrow:hover {
  fill: rgb(7, 122, 199);
}
.availabilities-pagination.availabilities-pagination-disabled .availabilities-pagination-arrow {
  cursor: default;
  fill: rgb(67, 95, 113);
  opacity: 0.3;
}
.availabilities-day {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  margin-top: 0px;
  margin-right: 7px;
  margin-bottom: 0px;
  margin-left: 7px;
}
.availabilities-day-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px;
}
.availabilities-day-name {
  font-weight: 700;
}
.availabilities-empty-slot {
  width: 100%;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 34px;
  line-height: 34px;
  display: flex;
  align-items: center;
}
.availabilities-empty-slot-dash {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 12px;
  height: 2px;
  background-color: rgba(67, 95, 113, 0.2);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.dl-desktop-availabilities {
  position: relative;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 42px;
  padding-left: 14px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(67, 95, 113, 0.15) 0px 0px 20px 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dl-desktop-availabilities.dl-desktop-availabilities-flat {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.dl-desktop-availabilities-flat {
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.dl-desktop-availabilities-inner {
  position: relative;
}
.dl-desktop-availabilities-header-border {
  position: absolute;
  top: 51px;
  left: 28px;
  right: 28px;
  height: 1px;
  background-color: rgb(217, 223, 226);
}
.dl-desktop-availabilities-overlay {
  position: absolute;
  top: 52px;
  bottom: 0px;
  left: 28px;
  right: 28px;
  background-color: rgba(204, 236, 250, 0.6);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.availabilities-message {
  width: 80%;
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  text-align: center;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.availabilities-next-slot {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.availabilities-next-slot-next-availability {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  font-size: 13px;
  cursor: pointer;
  color: rgb(5, 150, 222);
  fill: rgb(5, 150, 222);
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: all;
}
.availabilities-next-slot-next-availability:hover {
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: rgb(7, 122, 199);
  fill: rgb(7, 122, 199);
}
.availabilities-next-slot-next-availability div:first-child {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
}
.availabilities-next-slot-next-availability .availabilities-next-slot-icon {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0px;
  height: 20px;
  line-height: 20px;
  margin-left: 14px;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.resize-triggers {
  animation-duration: 1ms;
  animation-timing-function: initial;
  animation-delay: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
  animation-name: resizeanim;
  visibility: hidden;
  opacity: 0;
}
.resize-triggers, .resize-triggers > div, .contract-trigger::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
}
.resize-triggers > div {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(238, 238, 238);
  overflow-x: auto;
  overflow-y: auto;
}
.contract-trigger::before {
  width: 200%;
  height: 200%;
}
.dl-desktop-availabilities {
  position: relative;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 42px;
  padding-left: 14px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(67, 95, 113, 0.15) 0px 0px 20px 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dl-desktop-availabilities.dl-desktop-availabilities-flat {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.dl-desktop-availabilities-flat {
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.dl-desktop-availabilities-inner {
  position: relative;
}
.dl-desktop-availabilities-days {
  display: flex;
}
.availabilities-pagination {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 19px;
  margin-top: 8px;
  text-align: center;
}
svg:not(:root) {
  overflow-x: hidden;
  overflow-y: hidden;
}
.availabilities-pagination .availabilities-pagination-arrow {
  display: inline;
  height: auto;
  width: 14px;
  cursor: pointer;
  fill: rgb(5, 150, 222);
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
  transition-property: color, opacity;
}
.availabilities-pagination .availabilities-pagination-arrow:hover {
  fill: rgb(7, 122, 199);
}
.availabilities-day {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  margin-top: 0px;
  margin-right: 7px;
  margin-bottom: 0px;
  margin-left: 7px;
}
.availabilities-day-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px;
}
.availabilities-day-name {
  font-weight: 700;
}
.availabilities-slot {
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
  transition-property: background-color, color;
  background-color: rgb(204, 236, 250);
}
.availabilities-slot:hover {
  background-color: rgb(255, 229, 0);
}
.availabilities-empty-slot {
  width: 100%;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 34px;
  line-height: 34px;
  display: flex;
  align-items: center;
}
.availabilities-empty-slot-dash {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 12px;
  height: 2px;
  background-color: rgba(67, 95, 113, 0.2);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.dl-desktop-availabilities-header-border {
  position: absolute;
  top: 51px;
  left: 28px;
  right: 28px;
  height: 1px;
  background-color: rgb(217, 223, 226);
}
.resize-triggers {
  animation-duration: 1ms;
  animation-timing-function: initial;
  animation-delay: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
  animation-name: resizeanim;
  visibility: hidden;
  opacity: 0;
}
.resize-triggers, .resize-triggers > div, .contract-trigger::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
}
.resize-triggers > div {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(238, 238, 238);
  overflow-x: auto;
  overflow-y: auto;
}
.contract-trigger::before {
  width: 200%;
  height: 200%;
}
.dl-search-result-calendar {
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

.searchbar  button, .searchbar input, .searchbar select, .searchbar textarea {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: inherit;
  font-size: 100%;
}
.searchbar button, .searchbar input {
  line-height: normal;
}
.searchbar input, .searchbar button, .searchbar select, .searchbar textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.searchbar .el-input__inner {
  border-top-left-radius: 8px!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  border-bottom-left-radius: 8px!important;
}
.searchbar .el-input__inner {
  height: 60px!important;
  flex-grow: 1!important;
  flex-shrink: 0!important;
  flex-basis: 0px!important;
  line-height: 16px!important;
  padding-top: 0px!important;
  padding-right: 46px!important;
  padding-bottom: 0px!important;
  padding-left: 46px!important;
  font-family: Roboto, Arial, sans-serif!important;
  border-top-width: initial!important;
  border-right-width: initial!important;
  border-bottom-width: initial!important;
  border-left-width: initial!important;
  border-top-style: none!important;
  border-right-style: none!important;
  border-bottom-style: none!important;
  border-left-style: none!important;
  border-top-color: initial!important;
  border-right-color: initial!important;
  border-bottom-color: initial!important;
  border-left-color: initial!important;
  border-image-source: initial!important;
  border-image-slice: initial!important;
  border-image-width: initial!important;
  border-image-outset: initial!important;
  border-image-repeat: initial!important;
  background-color: rgb(255, 255, 255)!important;
  color: rgb(67, 95, 113)!important;
  box-sizing: border-box!important;
  outline-color: initial!important;
  outline-style: none!important;
  outline-width: initial!important;
  width: 100%!important;
  font-size: 14px!important;
}
.searchbar .el-input__inner::-webkit-input-placeholder {
  font-style: normal!important;
  color: rgb(67, 95, 113)!important;
  transition-duration: 0.5s!important;
  transition-timing-function: initial!important;
  transition-delay: initial!important;
  transition-property: color!important;
}
.searchbar .el-input__inner::placeholder {
  font-style: normal!important;
  color: rgb(67, 95, 113)!important;
  transition-duration: 0.5s!important;
  transition-timing-function: initial!important;
  transition-delay: initial!important;
  transition-property: color!important;
}
.searchbar .el-autocomplete{
  position: initial!important;
  display:initial!important;
}
.searchbar .el-input{
  position: initial!important;
}
.selectcreno{
  background-color:#00944A!important;
  color: white!important;
  }
  </style>

{% endblock %}
{% block js %}
<script>
  $(document).ready(function(){
    // au clic sur un lien
    $('.ancree').on('click', function(evt){
      // bloquer le comportement par défaut: on ne rechargera pas la page
      evt.preventDefault();
      // enregistre la valeur de l'attribut  href dans la variable target
      var target = $(this).attr('href');
      /* le sélecteur $(html, body) permet de corriger un bug sur chrome 
       et safari (webkit) */
      $('html, body')
      // on arrête toutes les animations en cours 
        .stop()
      /* on fait maintenant l'animation vers le haut (scrollTop) vers 
        notre ancre target */
        .animate({
        scrollTop: $(target).offset().top}
                 , 1000 );
    }
                   );
  }
                   );
</script>
{% endblock js %}
