{% extends 'layout.html.twig' %}
{% block title %}Infos Prestataire {{ parent() }} {% endblock %}
{% block body %}
<div id="app">
  <div class="dl-profile-bg dl-profile">
    <header class="dl-profile-header">
      <div class="dl-profile-overlay">
        <div class="dl-profile-wrapper">
          <div class="dl-profile-header-photo">
            <img src="{{asset(prestataire.WebPath)}}" > 
            </td>
        </div>
        <div class="dl-profile-header-name-speciality">
          <h1 class="dl-profile-header-name"> 
            <span >{{prestataire.nom}}
            </span>
          </h1>
          <h2 class="dl-profile-header-speciality">
            <span > {% if prestataire.tarif != null and prestataire.tarif[0] is defined  %} {{prestataire.tarif[0].service.libelle}} {% endif %}
            </span>
          </h2>
        </div>
      </div>
      </div>
    </header>
  <nav class="dl-profile-nav">
    <div class="dl-profile-wrapper">
     
         <el-steps :active="active" finish-status="success">
                            <el-step title="Infos "></el-step>
                            <el-step title="Validation"></el-step>
                            <el-step title="Confirmation"></el-step>
                        </el-steps>  
      
    </div>
  </nav>
  <div class="dl-profile-wrapper dl-profile-responsive-wrapper">
    <div class="dl-profile-body-wrapper">
      <div class="dl-profile-anchor" id="Tarifs">
      </div>
      <div class="dl-profile-card">
        <div class="dl-profile-card-section">
          <div class="dl-profile-card-icon">
          </div>
          <div class="dl-profile-card-content">
            <h4 class="dl-profile-card-title">Confirmer votre rendez-vous
            </h4>
            <div>
             <div v-if="etape == 3">
        <p>
          Votre rendez-vous est confirmé, Nous vous avons envoyer un email toutes les informations pratiques. En cas d’empêchement de votre part, merci d’avoir la gentillesse de prévenir le praticien afin que le créneau soit disponible pour d’autres patients.
        </p>
      </div>
      <div v-if="etape == 2">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Nous venons d'envoyer un code de confirmation au ${tel}, merci d'entrer le code recue
            </label>
            <el-input style="width: 100%" placeholder="Code de confirmation" v-model="rdv.code">
            </el-input>
          </div>
        </div>
      </div>
      <div v-if="etape == 1">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Spécialité
            </label>
            <el-select filterable style="width: 100%" v-model="rdv.prestation" placeholder="Prestation">
              <el-option
                         v-for="item in prestatations"
                         :label="item.libelle"
                         :value="item.id">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Date du rendez-vous
            </label>
             <el-input
                      placeholder="Date du rendez-vous"
                      disabled
                      v-model="rdv.date">
            </el-input>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Heure du rendez-vous
            </label>
             <el-input
                      placeholder="Heure du rendez-vous"
                      disabled
                      v-model="rdv.heure">
            </el-input>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Commentaire
            </label>
            <el-input
                      type="textarea"
                      :rows="2"
                      placeholder="Commentaire"
                      v-model="rdv.commentaire">
            </el-input>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
      <br>
        <el-button v-if="etape == 2" @click="etape = 1" :loading="loading" type="warning">Retour
        </el-button>
        <el-button v-if="etape == 2" @click="getValidationRdv()" :loading="loading" type="info">Renvoyer le code
        </el-button>
        <el-button type="primary" v-if="etape == 1" :loading="loading" @click="getValidationRdv()">Confirmer
        </el-button>
        <el-button type="primary" v-if="etape == 2" :loading="loading" @click="getConfirmationRdv()">Confirmer
        </el-button>
      </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

 <script>
var prests = [];
 {% for prest in prestataire.tarif %}
       var prest = {};
       prest.id = "{{ prest.service.id }}";
       prest.libelle = "{{ prest.service.libelle }}";
       prest.prix = "{{ prest.prix }}";
       prests.push(prest);
       {% endfor %}

 	var list = [];
 		var tmp = {};
      tmp.id = "{{prestataire.identifiant}}"
 			tmp.type = "{{prestataire.type}}"
 			tmp.img = "{{asset(prestataire.webPath)}}" 
 			tmp.name = "{{prestataire.nom}}"
      {#tmp.url = "{{ path('prestataires_agenda' , {id:prestataire.id}) }}"
      tmp.profil = "{{ path('prestataires_type' , {id:prestataire.id , name:prestataire.nom|replace(' ','+') }) }}"
 			tmp.rdv = "{{ path('prestataires_rdv' , {id:prestataire.id , name:prestataire.nom|replace(' ','+') }) }}"#}
      tmp.adresse = "{{prestataire.adresse}}"
 			tmp.pays = ""
 			tmp.tarif = []
      tmp.agenda = []
      tmp.nb = 0
      tmp.next = false
      tmp.prev = true 
      tmp.load = false 
      tmp.date = '' 
 			tmp.semaine = new Date("{{'now'|date('Y,m,d')}}")
 				{% for tarif in prestataire.tarif %}
 					var tarif = {};
 					tarif.id = "{{tarif.id}}"
 					tarif.cout = "{{tarif.prix}}"
 					tarif.service = "{{tarif.service.libelle}}"
 					tmp.tarif.push(tarif)
 				{% endfor %}
 	list.push(tmp)

ELEMENT.locale(ELEMENT.lang.fr);

    new Vue({
            el: '#app',
            data: function () {
                return {
                    loading: false,
                    etape:1,
                    ville:null,
                    active:0,
                    clients:[],
                    prestataires:[],
                    prestatations:prests,
                    dialogVisible:false,
                    prests:[],
                    commune:null,
                    communes:[],
                    rdvs:[],
                    tel:null,
                    rdv:{
                        id:null,
                        date:null,
                        heure:null,
                        prestataire:null,
                        client:null,
                        prestation:null,
                        code:null,
                        commentaire:null
                    }
                }
            },
            components: {},
            methods: {
                getInit(){
                    this.rdv.id = null;
                    this.rdv.heure = null;
                    this.rdv.prestataire = null;
                    this.rdv.client = null;
                    this.rdv.prestation = null;
                    this.rdv.code = null;
                    this.rdv.commentaire = null;
                },
                getConfirmationRdv(){
                        if(this.rdv.code != null){
                        this.loading = true;
                        let url = "{{ path('rdv_confirmartion_client' , {prest:0} ) }}";
                        url = url.replace('0',this.rdv.prestataire);
                        this.$http.post(url , this.rdv).then(response => {
                                if(response){
                                    this.loading = false;
                                    if(response.data.code == 0){
                            this.$alert('Le code de confirmation est invalide', 'Erreur', {
                                                        confirmButtonText: 'OK',
                                                        callback: action => {

                                                        }
                                                    });
                                    }else{
                                    this.etape = 3;
                                    this.active = 3;
                                    }
                                   
                                }
                            }
                            , response => {
                                this.loading = false;
                            }
                        );
                    }else{
                        this.$alert('Tous les champs sont requis', 'Erreur', {
                            confirmButtonText: 'OK',
                            callback: action => {

                            }
                        });

                    }
                },
                getValidationRdv(){
                    console.log(this.rdv);
                    if(this.rdv.prestataire != null && this.rdv.date != null
                        && this.rdv.heure != null && this.rdv.client != null
                        && this.rdv.prestation != null
                    ){
                        this.loading = true;
                        let url = "{{ path('rdv_validations_client' , {prest:0} ) }}";
                        url = url.replace('0',this.rdv.prestataire);
                        this.$http.post(url , this.rdv).then(response => {
                                if(response){
                                    this.loading = false;
                                    this.etape = 2;
                                    this.active = 1;
                                    this.tel = response.data.data;
                                }
                            }
                            , response => {
                                this.loading = false;
                            }
                        );
                    }else{
                        this.$alert('Tous les champs sont requis', 'Erreur', {
                            confirmButtonText: 'OK',
                            callback: action => {

                            }
                        });

                    }
                },
                getAgendas(){
                    if(this.rdv.prestataire != null && this.rdv.date){
                        this.loading = true;
                        let url = "{{ path('prestataire_agendas' , {prest:0} ) }}";
                        url = url.replace('0',this.rdv.prestataire);
                        this.$http.post(url , this.rdv).then(response => {
                                if(response){
                                    this.loading = false;
                                    this.rdvs = JSON.parse(response.bodyText);
                                }
                            }
                            , response => {
                                this.loading = false;
                            }
                        );
                    }
                },
                changePrest(){
                    this.prestataires = [];
                    let list = [];
                    this.rdv.prestataire = null;
                    this.rdvs = [];
                    this.prests.forEach((element) => {
                        element.prestations.forEach((prest) => {
                            if(prest.id == this.rdv.prestation){
                                list.push(element);
                            }
                        });
                    });
                    this.prestataires = list;
                },
                addRdv(start, end, allDay){
                    let date = new Date(start._d);
                    let today = new Date("{{ 'now'|date('Y-m-d') }}");
                        if(date > today){
                            this.rdv.date = date;
                            this.getInit();
                            this.dialogVisible = true;
                        }
                }

            },
            mounted: function () {
            let rdv = sessionStorage.getItem("rdv");
            if(rdv){
                rdv = JSON.parse(rdv);
                this.rdv.heure = rdv.heure.heure;
                this.rdv.date = rdv.heure.date;
                this.rdv.prestataire = "{{prestataire.id}}";
                this.rdv.client = "{{app.user.client.id}}";
            }

            },

            delimiters: ['${', '}']
        });
  </script>
<style type="text/css">
.el-steps{
        width: 100%;
    margin-left: 210px;
    margin-top: 8px;
}
.dl-search-result-presentation {
    width: auto!important;
}
  .dl-profile-booking {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  .profiles #booking, .appointments #booking {
    min-height: 300px;
  }
  .dl-backdrop {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
    display: flex;
  }
  .dl-backdrop-light {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .dl-booking-title {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 148, 74);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: rgba(67, 95, 113, 0.2) 0px 4px 10px 0px;
    margin-bottom: -4px;
    z-index: 1;
  }
  .dl-booking-title::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: auto;
    margin-top: 0px;
    margin-left: -6px;
    bottom: -6px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 0px;
    border-left-width: 6px;
    border-top-color: rgb(0, 148, 74);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(1turn);
  }
  .dl-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 400;
    color: rgb(67, 95, 113);
  }
  .dl-text-color-inherit {
    color: inherit;
  }
  .dl-text-title-sub-bold {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  .dl-text-color-inherit, .dl-text-hack-link-inherit a {
    color: inherit;
  }
  .dl-booking-title-subtext {
    margin-top: 8px;
  }
  .dl-text-body, .dl-alert {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.7;
  }
  .dl-text-body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.7;
  }
  .dl-alert, .dl-text-body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.7;
  }
  .booking {
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 14px;
    padding-left: 0px;
  }
  .booking.booking-compact-layout {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(67, 95, 113, 0.2);
    border-right-color: rgba(67, 95, 113, 0.2);
    border-bottom-color: rgba(67, 95, 113, 0.2);
    border-left-color: rgba(67, 95, 113, 0.2);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: rgba(67, 95, 113, 0.08) 0px 4px 10px;
  }
  .booking-step {
    position: relative;
    padding-left: 28px;
    padding-right: 14px;
  }
  .booking-step-progress {
    position: absolute;
    left: -1px;
    top: 25px;
    height: 0px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(23, 179, 85);
  }
  .booking-step-progress.booking-step-progress-completed {
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    transition-property: all;
    height: calc(100% + 1px);
  }
  .booking-step-number {
    position: absolute;
    width: 28px;
    height: 28px;
    left: -14px;
    top: -3px;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(0, 148, 0);
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: initial;
    transition-property: background-color;
  }
  .booking-step-number-completed {
    background-color: rgb(23, 179, 85);
  }
  .front-icon-checkmark::before {
    content: "U";
  }
  .dl-layout-container {
    display: flex;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -7px;
    margin-right: -7px;
    margin-bottom: -7px;
    margin-left: -7px;
    width: calc(100% + 14px);
  }
  .dl-layout-spacing-xs-0 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
  }
  .dl-layout-container > .dl-layout-item {
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
  }
  .dl-layout-spacing-xs-0 > .dl-layout-item {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .dl-layout-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    box-sizing: border-box;
  }
  .dl-layout-size-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
  }
  .dl-text-body-subtitle {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.7;
    font-weight: 700;
  }
  .booking-step-label {
    padding-bottom: 4px;
  }
  .booking-compact-layout .booking-step-right-container {
    text-align: left;
  }
  button, input, select, textarea {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: inherit;
    font-size: 100%;
  }
  button, select {
    text-transform: none;
  }
  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(217, 223, 226);
    border-right-color: rgb(217, 223, 226);
    border-bottom-color: rgb(217, 223, 226);
    border-left-color: rgb(217, 223, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: none;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial, initial;
    transition-property: border-color, box-shadow;
    font-weight: 400;
  }
  .form-control:focus {
    border-top-color: rgb(102, 175, 233);
    border-right-color: rgb(102, 175, 233);
    border-bottom-color: rgb(102, 175, 233);
    border-left-color: rgb(102, 175, 233);
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    box-shadow: rgba(67, 95, 113, 0.2) 0px 0px 4px;
  }
  .form-control::-webkit-input-placeholder {
    color: rgba(67, 95, 113, 0.7);
    font-style: normal;
    transition-duration: 500ms;
    transition-timing-function: initial;
    transition-delay: initial;
    transition-property: color;
  }
  .form-control::placeholder {
    font-style: normal;
    color: rgba(67, 95, 113, 0.7);
    transition-duration: 500ms;
    transition-timing-function: initial;
    transition-delay: initial;
    transition-property: color;
  }
  select.form-control.dl-select {
    font-family: Roboto, Arial, sans-serif;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(217, 223, 226);
    border-right-color: rgb(217, 223, 226);
    border-bottom-color: rgb(217, 223, 226);
    border-left-color: rgb(217, 223, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(67, 95, 113);
    line-height: 20px;
    width: auto;
    padding-right: 30px;
    background-image: url("/webpack/2985b30dd3acc98dbe57350bc7a05bd8.svg");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: right 14px;
    background-position-y: center;
    background-size: 10px 5px;
    -webkit-appearance: none;
    box-shadow: none;
  }
  select.form-control.dl-select:focus {
    box-shadow: rgb(5, 150, 222) 0px 0px 2px;
  }
  select.form-control.dl-select-block {
    width: 100%;
  }
  .booking .booking-compact-select {
    font-size: 12px;
  }
  hr {
    height: 0px;
    box-sizing: content-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
  }
  .dl-divider {
    position: relative;
    height: 1px;
    margin-top: -1px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgba(67, 95, 113, 0.2);
  }
  .booking hr {
    margin-top: 14px;
    margin-right: 0px;
    margin-bottom: 14px;
    margin-left: 0px;
  }
  .booking-availabilities {
    margin-top: 14px;
  }
  .booking-compact-layout .booking-availabilities {
    margin-left: -14px;
  }
  .dl-desktop-availabilities {
    position: relative;
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 42px;
    padding-left: 14px;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(67, 95, 113, 0.15) 0px 0px 20px 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .dl-desktop-availabilities.dl-desktop-availabilities-flat {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .dl-desktop-availabilities-flat {
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .dl-desktop-availabilities-inner {
    position: relative;
  }
  .dl-desktop-availabilities-days {
    display: flex;
  }
  .availabilities-pagination {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 19px;
    margin-top: 8px;
    text-align: center;
  }
  svg:not(:root) {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .availabilities-pagination .availabilities-pagination-arrow {
    display: inline;
    height: auto;
    width: 14px;
    cursor: pointer;
    fill: rgb(5, 150, 222);
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
    transition-property: color, opacity;
  }
  .availabilities-pagination .availabilities-pagination-arrow:hover {
    fill: rgb(7, 122, 199);
  }
  .availabilities-pagination.availabilities-pagination-disabled .availabilities-pagination-arrow {
    cursor: default;
    fill: rgb(67, 95, 113);
    opacity: 0.3;
  }
  .availabilities-day {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
    margin-top: 0px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-left: 7px;
  }
  .availabilities-day-title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 14px;
  }
  .availabilities-day-name {
    font-weight: 700;
  }
  .availabilities-empty-slot {
    width: 100%;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    height: 34px;
    line-height: 34px;
    display: flex;
    align-items: center;
  }
  .availabilities-empty-slot-dash {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 12px;
    height: 2px;
    background-color: rgba(67, 95, 113, 0.2);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
  }
  .availabilities-slot {
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
    transition-property: background-color, color;
    background-color: rgb(204, 236, 250);
  }
  .availabilities-slot:hover {
    background-color: rgb(255, 229, 0);
  }
  .dl-desktop-availabilities-header-border {
    position: absolute;
    top: 51px;
    left: 28px;
    right: 28px;
    height: 1px;
    background-color: rgb(217, 223, 226);
  }
  .availabilities-more-button {
    display: block;
    margin-top: 0px;
    margin-right: 28px;
    margin-left: 28px;
    margin-bottom: -40px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(217, 223, 226);
    line-height: 34px;
    color: rgb(5, 150, 222);
  }
  .dl-desktop-availabilities-flat .availabilities-more-button {
    margin-bottom: 0px;
  }
  button, input {
    line-height: normal;
  }
  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  .dl-button {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 13px;
    color: rgb(67, 95, 113);
    height: 44px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    box-shadow: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: inline-block;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
    transition-duration: 0.5s, 0.2s, 0.2s;
    transition-timing-function: initial, initial, initial;
    transition-delay: initial, initial, initial;
    transition-property: opacity, color, background-color;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  .dl-button-danger-link, .dl-button-default-link, .dl-button-info-link, .dl-button-primary-link, .dl-button-warning-link {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
  }
  .dl-button-info-link {
    color: rgb(5, 150, 222);
  }
  .dl-button-info-link:not([disabled]):hover {
    color: rgb(7, 122, 199);
  }
  .dl-button-block {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .booking-step-right-container button {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .booking-compact-layout .booking-step-right-container button {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .dl-button-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    height: 100%;
  }
  .resize-triggers {
    animation-duration: 1ms;
    animation-timing-function: initial;
    animation-delay: initial;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
    animation-name: resizeanim;
    visibility: hidden;
    opacity: 0;
  }
  .resize-triggers, .resize-triggers > div, .contract-trigger::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: -1;
  }
  .resize-triggers > div {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(238, 238, 238);
    overflow-x: auto;
    overflow-y: auto;
  }
  .contract-trigger::before {
    width: 200%;
    height: 200%;
  }
</style>
<style type="text/css">
  
  .cl_color
{
    border-top : 1px solid #525252;
    border-bottom : 1px solid #525252;
}

.dl-desktop-availabilities-days {
  display: flex;
}
.availabilities-pagination {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 19px;
  margin-top: 8px;
  text-align: center;
}
svg:not(:root) {
  overflow-x: hidden;
  overflow-y: hidden;
}
.availabilities-pagination .availabilities-pagination-arrow {
  display: inline;
  height: auto;
  width: 14px;
  cursor: pointer;
  fill: rgb(5, 150, 222);
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
  transition-property: color, opacity;
}
.availabilities-pagination .availabilities-pagination-arrow:hover {
  fill: rgb(7, 122, 199);
}
.availabilities-pagination.availabilities-pagination-disabled .availabilities-pagination-arrow {
  cursor: default;
  fill: rgb(67, 95, 113);
  opacity: 0.3;
}
.availabilities-day {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  margin-top: 0px;
  margin-right: 7px;
  margin-bottom: 0px;
  margin-left: 7px;
}
.availabilities-day-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px;
}
.availabilities-day-name {
  font-weight: 700;
}
.availabilities-empty-slot {
  width: 100%;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 34px;
  line-height: 34px;
  display: flex;
  align-items: center;
}
.availabilities-empty-slot-dash {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 12px;
  height: 2px;
  background-color: rgba(67, 95, 113, 0.2);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.dl-desktop-availabilities {
  position: relative;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 42px;
  padding-left: 14px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(67, 95, 113, 0.15) 0px 0px 20px 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dl-desktop-availabilities.dl-desktop-availabilities-flat {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.dl-desktop-availabilities-flat {
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.dl-desktop-availabilities-inner {
  position: relative;
}
.dl-desktop-availabilities-header-border {
  position: absolute;
  top: 51px;
  left: 28px;
  right: 28px;
  height: 1px;
  background-color: rgb(217, 223, 226);
}
.dl-desktop-availabilities-overlay {
  position: absolute;
  top: 52px;
  bottom: 0px;
  left: 28px;
  right: 28px;
  background-color: rgba(204, 236, 250, 0.6);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.availabilities-message {
  width: 80%;
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  text-align: center;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.availabilities-next-slot {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.availabilities-next-slot-next-availability {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  font-size: 13px;
  cursor: pointer;
  color: rgb(5, 150, 222);
  fill: rgb(5, 150, 222);
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: all;
}
.availabilities-next-slot-next-availability:hover {
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: rgb(7, 122, 199);
  fill: rgb(7, 122, 199);
}
.availabilities-next-slot-next-availability div:first-child {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
}
.availabilities-next-slot-next-availability .availabilities-next-slot-icon {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0px;
  height: 20px;
  line-height: 20px;
  margin-left: 14px;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.resize-triggers {
  animation-duration: 1ms;
  animation-timing-function: initial;
  animation-delay: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
  animation-name: resizeanim;
  visibility: hidden;
  opacity: 0;
}
.resize-triggers, .resize-triggers > div, .contract-trigger::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
}
.resize-triggers > div {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(238, 238, 238);
  overflow-x: auto;
  overflow-y: auto;
}
.contract-trigger::before {
  width: 200%;
  height: 200%;
}
.dl-desktop-availabilities {
  position: relative;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 42px;
  padding-left: 14px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(67, 95, 113, 0.15) 0px 0px 20px 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dl-desktop-availabilities.dl-desktop-availabilities-flat {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.dl-desktop-availabilities-flat {
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.dl-desktop-availabilities-inner {
  position: relative;
}
.dl-desktop-availabilities-days {
  display: flex;
}
.availabilities-pagination {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 19px;
  margin-top: 8px;
  text-align: center;
}
svg:not(:root) {
  overflow-x: hidden;
  overflow-y: hidden;
}
.availabilities-pagination .availabilities-pagination-arrow {
  display: inline;
  height: auto;
  width: 14px;
  cursor: pointer;
  fill: rgb(5, 150, 222);
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
  transition-property: color, opacity;
}
.availabilities-pagination .availabilities-pagination-arrow:hover {
  fill: rgb(7, 122, 199);
}
.availabilities-day {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  margin-top: 0px;
  margin-right: 7px;
  margin-bottom: 0px;
  margin-left: 7px;
}
.availabilities-day-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px;
}
.availabilities-day-name {
  font-weight: 700;
}
.availabilities-slot {
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
  transition-property: background-color, color;
  background-color: rgb(204, 236, 250);
}
.availabilities-slot:hover {
  background-color: rgb(255, 229, 0);
}
.availabilities-empty-slot {
  width: 100%;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 34px;
  line-height: 34px;
  display: flex;
  align-items: center;
}
.availabilities-empty-slot-dash {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 12px;
  height: 2px;
  background-color: rgba(67, 95, 113, 0.2);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.dl-desktop-availabilities-header-border {
  position: absolute;
  top: 51px;
  left: 28px;
  right: 28px;
  height: 1px;
  background-color: rgb(217, 223, 226);
}
.resize-triggers {
  animation-duration: 1ms;
  animation-timing-function: initial;
  animation-delay: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
  animation-name: resizeanim;
  visibility: hidden;
  opacity: 0;
}
.resize-triggers, .resize-triggers > div, .contract-trigger::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
}
.resize-triggers > div {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(238, 238, 238);
  overflow-x: auto;
  overflow-y: auto;
}
.contract-trigger::before {
  width: 200%;
  height: 200%;
}
.dl-search-result-calendar {
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

.searchbar  button, .searchbar input, .searchbar select, .searchbar textarea {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: inherit;
  font-size: 100%;
}
.searchbar button, .searchbar input {
  line-height: normal;
}
.searchbar input, .searchbar button, .searchbar select, .searchbar textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.searchbar .el-input__inner {
  border-top-left-radius: 8px!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  border-bottom-left-radius: 8px!important;
}
.searchbar .el-input__inner {
  height: 60px!important;
  flex-grow: 1!important;
  flex-shrink: 0!important;
  flex-basis: 0px!important;
  line-height: 16px!important;
  padding-top: 0px!important;
  padding-right: 46px!important;
  padding-bottom: 0px!important;
  padding-left: 46px!important;
  font-family: Roboto, Arial, sans-serif!important;
  border-top-width: initial!important;
  border-right-width: initial!important;
  border-bottom-width: initial!important;
  border-left-width: initial!important;
  border-top-style: none!important;
  border-right-style: none!important;
  border-bottom-style: none!important;
  border-left-style: none!important;
  border-top-color: initial!important;
  border-right-color: initial!important;
  border-bottom-color: initial!important;
  border-left-color: initial!important;
  border-image-source: initial!important;
  border-image-slice: initial!important;
  border-image-width: initial!important;
  border-image-outset: initial!important;
  border-image-repeat: initial!important;
  background-color: rgb(255, 255, 255)!important;
  color: rgb(67, 95, 113)!important;
  box-sizing: border-box!important;
  outline-color: initial!important;
  outline-style: none!important;
  outline-width: initial!important;
  width: 100%!important;
  font-size: 14px!important;
}
.searchbar .el-input__inner::-webkit-input-placeholder {
  font-style: normal!important;
  color: rgb(67, 95, 113)!important;
  transition-duration: 0.5s!important;
  transition-timing-function: initial!important;
  transition-delay: initial!important;
  transition-property: color!important;
}
.searchbar .el-input__inner::placeholder {
  font-style: normal!important;
  color: rgb(67, 95, 113)!important;
  transition-duration: 0.5s!important;
  transition-timing-function: initial!important;
  transition-delay: initial!important;
  transition-property: color!important;
}
.searchbar .el-autocomplete{
  position: initial!important;
  display:initial!important;
}
.searchbar .el-input{
  position: initial!important;
}
.selectcreno{
  background-color:#00944A!important;
  color: white!important;
  }
  </style>

{% endblock %}
{% block js %}
<script>
  $(document).ready(function(){
    // au clic sur un lien
    $('.ancree').on('click', function(evt){
      // bloquer le comportement par défaut: on ne rechargera pas la page
      evt.preventDefault();
      // enregistre la valeur de l'attribut  href dans la variable target
      var target = $(this).attr('href');
      /* le sélecteur $(html, body) permet de corriger un bug sur chrome 
       et safari (webkit) */
      $('html, body')
      // on arrête toutes les animations en cours 
        .stop()
      /* on fait maintenant l'animation vers le haut (scrollTop) vers 
        notre ancre target */
        .animate({
        scrollTop: $(target).offset().top}
                 , 1000 );
    }
                   );
  }
                   );
</script>
{% endblock js %}
