{% import _self as menuAdmin %}
{% macro menuItem(name, url, icon, subitems, started , ic, class) %}
{% import _self as menuAdmin %}
{% spaceless %}
{% set subitems = subitems|default({}) %}
{% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set isActive = currentUrl == url %}
{% set icon = icon|default(" fa-files-o") %}
{% set isStarted = started|default(false) %}
{% for name, suburl in subitems %}
{% set isActive = not isActive and currentUrl == suburl %}
{% endfor %}
{% if not isActive and isStarted %}{% set isActive = currentUrl starts with url %}{% endif %}
<li>
  <a class="listemenu {% if isActive %} active {% endif %} {% if subitems|length > 0 %}have-submenu{% endif %} " href="{% if subitems|length > 0 %}javascript:void(0);{% else %} {{url}} {% endif %}" >
    <span class="icon-thumbnail">
      <i class="{{icon}}">
      </i>
    </span>
    <span class="title">{{name}}
    </span>
  </a>
  {% if subitems|length > 0 %}
  <ul  class="sub-menu">
    {% for name, url, icon in subitems %}
    {{ menuAdmin.menuItem(name, url, icon, {}, true , false) }}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% endspaceless %}
{% endmacro %}
<!doctype html>
<html lang="fr">
<head>

<!-- Basic Page Needs
================================================== -->
<title>RdvMedecine</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{{ asset('theme/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('theme/css/colors/blue.css') }}">
    <!-- autre css -->
     
  
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

 <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Montserrat:400,500,700" />
    <link href="icon_patient/180x180.png" rel="apple-touch-icon" />
    <link rel="stylesheet" media="all" href="{{ asset( 'template/front/bundle-website-common-7e6f835ba1896a4b901cbbc14360d939a63b0abde827e4d4930c01a33d8d766d.css' ) }}" />
    <link rel="stylesheet" media="all" href="{{ asset( 'template/front/bundle-website-homepage-b2e9e03a102ea3c079ccedc2857a92683fc0061171d325bec4b47b3a0970d902.css' ) }}" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.7.0/vue-router.js" >
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.js"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/fr.js"></script>
<script src="{{ asset('theme/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('theme/js/jquery-migrate-3.0.0.min.js') }}"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/fr.js"></script>

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth ">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/logo2.png" data-sticky-logo="images/logo.png" alt=""></a>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">

						<li><a href="{{path('front')}}" class="current">Accueil</a></li>
						<li><a href="#" class="">Vous etes Médecin ?</a></li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">

				<!--  User Notifications -->
			{#	<div class="header-widget hide-on-mobile">
					
					<!-- Notifications -->
					<div class="header-notifications">

						<!-- Trigger -->
						<div class="header-notifications-trigger">
							<a href="#"><i class="icon-feather-bell"></i><span>4</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Notifications</h4>
								<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
									<i class="icon-feather-check-square"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar>
									<ul>
										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-manage-candidates.html">
												<span class="notification-icon"><i class="icon-material-outline-group"></i></span>
												<span class="notification-text">
													<strong>Michael Shannah</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
												</span>
											</a>
										</li>

										<!-- Notification -->
										<li>
											<a href="dashboard-manage-bidders.html">
												<span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
												<span class="notification-text">
													<strong>Gilbert Allanis</strong> placed a bid on your <span class="color">iOS App Development</span> project
												</span>
											</a>
										</li>

										<!-- Notification -->
										<li>
											<a href="dashboard-manage-jobs.html">
												<span class="notification-icon"><i class="icon-material-outline-autorenew"></i></span>
												<span class="notification-text">
													Your job listing <span class="color">Full Stack PHP Developer</span> is expiring.
												</span>
											</a>
										</li>

										<!-- Notification -->
										<li>
											<a href="dashboard-manage-candidates.html">
												<span class="notification-icon"><i class="icon-material-outline-group"></i></span>
												<span class="notification-text">
													<strong>Sindy Forrest</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>

						</div>

					</div>
					
					<!-- Messages -->
					<div class="header-notifications">
						<div class="header-notifications-trigger">
							<a href="#"><i class="icon-feather-mail"></i><span>3</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Messages</h4>
								<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
									<i class="icon-feather-check-square"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar>
									<ul>
										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-messages.html">
												<span class="notification-avatar status-online"><img src="images/user-avatar-small-03.jpg" alt=""></span>
												<div class="notification-text">
													<strong>David Peterson</strong>
													<p class="notification-msg-text">Thanks for reaching out. I'm quite busy right now on many...</p>
													<span class="color">4 hours ago</span>
												</div>
											</a>
										</li>

										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-messages.html">
												<span class="notification-avatar status-offline"><img src="images/user-avatar-small-02.jpg" alt=""></span>
												<div class="notification-text">
													<strong>Sindy Forest</strong>
													<p class="notification-msg-text">Hi Tom! Hate to break it to you, but I'm actually on vacation until...</p>
													<span class="color">Yesterday</span>
												</div>
											</a>
										</li>

										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-messages.html">
												<span class="notification-avatar status-online"><img src="images/user-avatar-placeholder.png" alt=""></span>
												<div class="notification-text">
													<strong>Marcin Kowalski</strong>
													<p class="notification-msg-text">I received payment. Thanks for cooperation!</p>
													<span class="color">Yesterday</span>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<a href="dashboard-messages.html" class="header-notifications-button ripple-effect button-sliding-icon">View All Messages<i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>

				</div>#}
				<!--  User Notifications / End -->
				{% if app.user == null or (app.user != null and app.user.client == null)  %}
				<div class="header-widget"> 
					<a href="#sign-in-dialog" class="popup-with-zoom-anim log-in-button connexion"><i class="icon-feather-log-in"></i> <span> Authentifiez-vous </span></a>
				</div>
				{% endif %}
			{% if app.user != null and app.user.client is defined and app.user.client != null %}
				<!-- User Menu -->
				<div class="header-widget">
					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							<a href="#"><div class="user-avatar status-online"><img src="{{ asset(app.user.Webpath) }}" alt=""></div></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="{{ asset(app.user.Webpath) }}" alt=""></div>
									<div class="user-name">
										{{app.user.client.nom}} <span>{{app.user.client.prenom}} </span>
									</div>
								</div>
						</div>
						
						<ul class="user-menu-small-nav">
							<li><a href="#"><i class="icon-material-outline-dashboard"></i> Tableau de Bord</a></li>
							<li><a href="{{path('user_logout')}}"><i class="icon-material-outline-power-settings-new"></i> Déconnexion</a></li>
						</ul>

						</div>
					</div>

				</div>
				<!-- User Menu / End -->
			{% endif %}
				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->




<!-- Content
================================================== -->
{% block body %}
{% endblock body %}
<!-- Sign In Popup
================================================== -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form" v-loading="loading">

		<ul class="popup-tabs-nav">
			<li><a href="#login">Connexion</a></li>
			<li><a href="#register">Inscription</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Login -->
			<div class="popup-tab-content" id="login">
				
					
				<!-- Form -->
				<form method="post" id="login-form">
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" v-model="compte.mail" class="input-text with-border"   placeholder="Votre E-Mail" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input v-model="compte.password" type="password" class="input-text with-border"  placeholder="Mot de passe" required/>
					</div>
					<a href="#" class="forgot-password">Forgot Password?</a>
				</form>
				
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" @click="connexion()" type="button" form="login-form">Connexion <i class="icon-material-outline-arrow-right-alt"></i></button>
				
			

			</div>

			<!-- Register -->
			<div class="popup-tab-content" id="register">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Créer un nouveau compte</h3>
				</div>
				<!-- Form -->
				<form method="post" id="register-account-form">

				<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" v-model="compte.nom" placeholder="Votre Nom" required/>
				</div>
				<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" v-model="compte.prenom" placeholder="Votre Prénom" required/>
				</div>
				<div class="input-with-icon-left">
						<i class="icon-feather-phone"></i>
						<input type="text" class="input-text with-border" v-model="compte.telephone" placeholder="Votre Telephone" required/>
				</div>
				<div class="input-with-icon-left">
						<i class="icon-material-outline-add-location"></i>
						<input type="text" class="input-text with-border" v-model="compte.localisation" placeholder="Votre Localisation" required/>
				</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" v-model="compte.mail" placeholder="Votre E-Mail" required/>
					</div>

					<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" v-model="compte.password" placeholder="Votre Mot de passe" required/>
					</div>

					
				</form>
				
				<!-- Button -->
				<button @click="inscription()" class="margin-top-10 button full-width button-sliding-icon ripple-effect" type="button" form="register-account-form">S'inscre <i class="icon-material-outline-arrow-right-alt"></i></button>
				
				

			</div>

		</div>
	</div>
</div>
<!-- Sign In Popup / End -->
<!-- Footer
================================================== -->
<div id="footer">
	

	<!-- Footer Middle Section -->
	{#<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Candidates</h3>
						<ul>
							<li><a href="#"><span>Browse Jobs</span></a></li>
							<li><a href="#"><span>Add Resume</span></a></li>
							<li><a href="#"><span>Job Alerts</span></a></li>
							<li><a href="#"><span>My Bookmarks</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Employers</h3>
						<ul>
							<li><a href="#"><span>Browse Candidates</span></a></li>
							<li><a href="#"><span>Post a Job</span></a></li>
							<li><a href="#"><span>Post a Task</span></a></li>
							<li><a href="#"><span>Plans & Pricing</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Helpful Links</h3>
						<ul>
							<li><a href="#"><span>Contact</span></a></li>
							<li><a href="#"><span>Privacy Policy</span></a></li>
							<li><a href="#"><span>Terms of Use</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Account</h3>
						<ul>
							<li><a href="#"><span>Log In</span></a></li>
							<li><a href="#"><span>My Account</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Newsletter -->
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
					<p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
					<form action="#" method="get" class="newsletter">
						<input type="text" name="fname" placeholder="Enter your email address">
						<button type="submit"><i class="icon-feather-arrow-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>#}
	<!-- Footer Middle Section / End -->
	
	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© {{'now'|date('Y')}} <strong>RdvMedecine</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>
<!-- Footer / End -->

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="{{ asset('theme/js/mmenu.min.js') }}"></script>
<script src="{{ asset('theme/js/tippy.all.min.js') }}"></script>
<script src="{{ asset('theme/js/simplebar.min.js') }}"></script>
<script src="{{ asset('theme/js/bootstrap-slider.min.js') }}"></script>
<script src="{{ asset('theme/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('theme/js/snackbar.js') }}"></script>
<script src="{{ asset('theme/js/clipboard.min.js') }}"></script>
<script src="{{ asset('theme/js/counterup.min.js') }}"></script>
<script src="{{ asset('theme/js/magnific-popup.min.js') }}"></script>
<script src="{{ asset('theme/js/slick.min.js') }}"></script>
<script src="{{ asset('theme/js/custom.js') }}"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>


<!-- Google Autocomplete -->
<script>
$('.connexion').click(function(){
sessionStorage.removeItem("url");
});
	function initAutocomplete() {
		 var options = {
		  types: ['(cities)'],
		  // componentRestrictions: {country: "us"}
		 };

		 var input = document.getElementById('autocomplete-input');
		 var autocomplete = new google.maps.places.Autocomplete(input, options);
	}

	// Autocomplete adjustment for homepage
	if ($('.intro-banner-search-form')[0]) {
	    setTimeout(function(){ 
	        $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
	    }, 300);
	}

</script>
 <script>
    new Vue({
      el: '#sign-in-dialog',
      data: function() {
        return { 
			loading:false,
        recherche:{libelle:'', adresse:''},
		compte:{ nom:null,
		prenom:null, telephone:null, mail:null, localisation:null,  password:null
		 }
        }
      },
      mounted () {
      },
      methods: {
		  connexion(){
			  	if(this.compte.mail != null && this.compte.password != null){
 					let url = "{{ path('client_connexion') }}";
					  this.loading = true;
	      				this.$http.post(url, {data:this.compte} ).then(response => {
							if(response){
								this.loading = false;
										if(response.body.code === 1){
											let url = sessionStorage.getItem("url");
											if(url){
												location.href = url;
											}else{
												location.reload();
											}
										}
										if(response.body.code === 2){
										
												this.msg("Alerte",response.body.msg); 
										}
										}
										else{
												this.msg("Alerte","Erreur inconnue!"); 
										}
							}
							,response => {
								this.loading = false;
								}
						);
				  }else{
					  this.msg("Alerte","Tous les champs sont obligatoires!"); 
				  }
		  },
		  inscription(){
			  	if(this.compte.mail != null && this.compte.password != null
				  && this.compte.nom != null && this.compte.prenom != null
				  && this.compte.telephone != null && this.compte.localisation != null
				  ){
					  let url = "{{ path('client_add') }}";
					  this.loading = true;
	      				this.$http.post(url, {data:this.compte} ).then(response => {
							if(response){
								this.loading = false;
										if(response.body.code === 1){
											let url = sessionStorage.getItem("url");
											if(url){
												location.href = url;
											}else{
												location.reload();
											}
										}
										}
							}
							,response => {
								this.loading = false;
								}
						);
				  }else{
					  this.msg("Alerte","Tous les champs sont obligatoires!"); 
				  }
		  },
        msg(title,content) {
        this.$alert(content, title, {
          confirmButtonText: 'OK',
          callback: action => {
          
          }
        });
      }
      

      },
      delimiters: ['${', '}']
    })
  </script>
{% block js %}
{% endblock js %}
</body>