   .phone-icon-body {
      fill: #fff;
    }

    .phone-icon-speaker-small {
      fill: #fff;
    }

    .phone-icon-speaker-large {
      fill: #cAd1d8;
    }

    .phone-icon-reflect {
      opacity: 0.2;
      fill: #eaeaea;
    }

    .phone-icon-touch {
      fill: #CAD1D8;
    }

    .phone-icon-screen {
      opacity: 0.3;
      fill: #CAD1D8;
    }

    .phone-icon-eye {
      fill: #ABB8C4;
      transform-origin: center;
      transform: rotate(0);
      will-change: transform;
    }

    .phone-icon-mouth {
      fill: #ABB8C4;
    }

    .phone-icon-phone {
      transform-origin: center 80%;
      transform: rotate(0);
      will-change: transform;
    }

      .message-icon-envelope-bg {
      fill: #fff;
    }

    .message-icon-envelope-content {
      fill: #e2dfdc;
      opacity: 0.5;
    }

    .message-icon-envelope-top {
      fill: #fff;
    }

    .message-icon-bubble {
      will-change: transform;
      transform: scale(1);
      transform-origin: center;
    }

    .message-icon-bubble-bg {
      fill: #ec6465;
    }

    .message-icon-bubble-text {
      fill: #fff;
    }

     .map-icon-marker-bg {
      fill: #fff;
    }

    .map-icon-marker-gradient {
      opacity:0.6;
      fill: url(#map-icon-pink-gradient);
    }

    .map-icon-path {
      fill: none;
      stroke: #B21835;
      stroke-width: 3;
      stroke-dasharray: 7;
    }

    .map-icon-marker {
      will-change: transform;
      transform: translateY(0);
      transform-origin: center;
    }

    .map-icon-marker-shadow{
      fill: #D83D50;
      transform-origin: center;
      transform: scale(1);
      will-change: transform;
    }

     .star-icon-star-dot {
      fill: #FFFFFF;
      stroke: #F4F4D7;
      stroke-width: 0.25;
      stroke-miterlimit: 10;
    }

    .star-icon-star-dot {
      opacity: 0.3;
      transform-origin: center;
      transform: scale(1);
      will-change: transform, opacity;
    }

    .star-icon-circle-star {
      fill: #03BBDF;
      opacity: 1;
      transform-origin: center;
      transform: scale(1);
      will-change: transform, opacity;
    }

    .star-icon-star {
      fill: #FFE59C;
      transform-origin: center;
      transform: scale(1);
      will-change: transform;
    }