{% extends 'admin.html.twig' %}
{% block title %}Liste des categories {{ parent() }} {% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('admin/assets/plugins/full-calendar/fullcalendar.min.css') }}">
<div id="app">
  <div class="row">
    <div class="col-12">
      <div class="block  table-block mb-4">
        <div class="block-heading">
          <h5>Liste des rendez-vous 
          </h5>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="block calendar-div">
              <div id="fullCalendar">
              </div>
            </div>
          </div>
        </div>
        {#
        <div class="row">#}
          {#
          <div class="pull-right">#}
            {#
            <a href="{{ path('rdv_new') }}" class="btn btn-primary">Ajouter
            </a>#}
            {#
            <br>
            <br>#}
            {#
          </div>#}
          {#
          <div class="table-responsive">#}
            {#{% for message in app.session.flashbag.get('ajout') %}#}
            {#
            <div class="alert alert-success" role="alert">#}
              {#{{ message }}#}
              {#
            </div>#}
            {#{% endfor %}#}
            {#
            <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">#}
              {#
              <thead>#}
                {#
                <tr>#}
                  {#
                  <th>Nom du patient
                  </th>#}
                  {#
                  <th> Prestataire 
                  </th>#}
                  {#
                  <th>Date du rendez-vous 
                  </th>#}
                  {#
                  <th> Date d'enregistrement 
                  </th>#}
                  {#
                  <th>actions
                  </th>#}
                  {#
                </tr>#}
                {#
              </thead>#}
              {#
              <tbody>#}
                {#{% for rdv in rdvs %}#}
                {#
                <tr>#}
                  {#
                  <td>#}
                    {#{% if category.image != null %}#}
                    {#
                    <img src="{{asset(category.image.WebPath)}}" style="height:40px;"> 
                  </td>#}
                  {#{% endif %}#}
                  {#
              </td>#}
              {#
              <td>{{ category.libelle }}
              </td>#}
              {#
              <td>{{ category.created ? category.created|localizeddate('full', 'short') : '' }}
              </td>#}
              {#
              <td>#}
                {#
                <a class="btn btn-default btn-sm" href="{{ path('category_show' , {id:category.identifiant} ) }}">#}
                  {#
                  <i class="fa fa-eye">
                  </i>#}
                  {#
                </a>#}
                {#
              </td>#}
              {#
              </tr>#}
            {#{% else %}#}
            {#
            <tr>#}
              {#
              <td colspan="5">Aucun enregistrement
              </td>#}
              {#
            </tr>#}
            {#{% endfor %}#}
            {#
            </tbody>#}
          {#
          </table>#}
        {#
      </div>#}
      {#
    </div>#}
    <el-dialog
               :close-on-click-modal="false"
               v-loading="loading"
               title="Ajouter un nouveau rendez-vous"
               :visible.sync="dialogVisible"
               width="40%" >
      <div>
        <el-steps :active="active" finish-status="success">
          <el-step title="Infos ">
          </el-step>
          <el-step title="Validation">
          </el-step>
          <el-step title="Confirmation">
          </el-step>
        </el-steps>
      </div>
      <br>
      <div v-if="etape == 3">
        <p>
          Votre rendez-vous est confirmé, Nous vous avons envoyer un email toutes les informations pratiques. En cas d’empêchement de votre part, merci d’avoir la gentillesse de prévenir le praticien afin que le créneau soit disponible pour d’autres patients.
        </p>
      </div>
      <div v-if="etape == 2">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Nous venons d'envoyer un code de confirmation au ${tel}, merci d'entrer le code recue
            </label>
            <el-input style="width: 100%" placeholder="Code de confirmation" v-model="rdv.code">
            </el-input>
          </div>
        </div>
      </div>
      <div v-if="etape == 1">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Patient
            </label>
            <el-select filterable style="width: 100%" v-model="rdv.client" placeholder="Patient">
              <el-option
                         v-for="item in clients"
                         :label="item.nom + ' '+ item.prenom"
                         :value="item.id">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Prestation
            </label>
            <el-select filterable style="width: 100%" @change="changePrest()" v-model="rdv.prestation" placeholder="Prestation">
              <el-option
                         v-for="item in prestatations"
                         :label="item.libelle"
                         :value="item.id">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Prestataire
            </label>
            <el-select filterable style="width: 100%" @change="getAgendas()" v-model="rdv.prestataire" placeholder="Prestataire">
              <el-option
                         v-for="item in prestataires"
                         :label="item.nom"
                         :value="item.id">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Date du rendez-vous
            </label>
            <el-date-picker @change="getAgendas()" style="width: 100%"
                            v-model="rdv.date"
                            type="date"
                            placeholder="Date du rendez-vous">
            </el-date-picker>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Heure du rendez-vous
            </label>
            <el-select filterable style="width: 100%"  v-model="rdv.heure" placeholder="Heure du rendez-vous">
              <el-option
                         v-for="item in rdvs"
                         :label="item.heure"
                         :value="item.heure">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Commentaire
            </label>
            <el-input
                      type="textarea"
                      :rows="2"
                      placeholder="Commentaire"
                      v-model="rdv.commentaire">
            </el-input>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button :loading="loading" @click="dialogVisible = false">Annuler
        </el-button>
        <el-button v-if="etape == 2" @click="etape = 1" :loading="loading" type="warning">Retour
        </el-button>
        <el-button v-if="etape == 2" @click="getValidationRdv()" :loading="loading" type="info">Renvoyer le code
        </el-button>
        <el-button type="primary" v-if="etape == 1" :loading="loading" @click="getValidationRdv()">Confirmer
        </el-button>
        <el-button type="primary" v-if="etape == 2" :loading="loading" @click="getConfirmationRdv()">Confirmer
        </el-button>
      </span>
    </el-dialog>
  </div>
</div>
</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ asset('admin/assets/plugins/full-calendar/fullcalendar.min.js') }}">
</script>
<script type="text/javascript" src="{{ asset('admin/assets/plugins/full-calendar/locale/fr.js') }}">
</script>
<script>
</script>
<script>
  var  clients = [];
  {
    % for client in clients %}
    var tmp = {
    };
    tmp.id = "{{ client.id }}";
    tmp.nom = "{{ client.nom }}";
    tmp.prenom = "{{ client.prenom }}";
    clients.push(tmp);
    {
      % endfor %}
      var prestataires = [];
      var prestations = [];
      {
        % for prestataire in prestataires %}
        var tmp = {
        };
        tmp.id = "{{ prestataire.id }}";
        tmp.nom = "{{ prestataire.nom }}";
        tmp.parent = false;
        tmp.libelleParent = null;
        tmp.prestations = [];
        {
          % if prestataire.parent != null %}
          tmp.parent = true;
          tmp.nom = "{{ prestataire.nom }} ({{ prestataire.parent.nom }})";
          tmp.libelleParent = "{{ prestataire.parent.nom }}";
          {
            % endif %}
            {
              % for prest in prestataire.tarif %}
              var prest = {
              };
              prest.id = "{{ prest.service.id }}";
              prest.libelle = "{{ prest.service.libelle }}";
              prest.prix = "{{ prest.prix }}";
              prestations[{
                {
                prest.service.id }
                          }
                         ] = prest;
              tmp.prestations.push(prest);
              {
                % endfor %}
                prestataires.push(tmp);
                {
                  % endfor %}
                  prestat = [];
                  for (var prest in prestations) {
                    prestat.push(prestations[prest]);
                  }
                  new Vue({
                    el: '#app',
                    data: function () {
                      return {
                        loading: false,
                        etape:1,
                        ville:null,
                        active:0,
                        clients:clients,
                        prestataires:[],
                        prestatations:prestat,
                        dialogVisible:false,
                        prests:prestataires,
                        commune:null,
                        communes:[],
                        rdvs:[],
                        tel:null,
                        rdv:{
                          id:null,
                          date:null,
                          heure:null,
                          prestataire:null,
                          client:null,
                          prestation:null,
                          code:null,
                          commentaire:null
                        }
                      }
                    }
                    ,
                    components: {
                    }
                    ,
                    methods: {
                      getInit(){
                        this.rdv.id = null;
                        this.rdv.heure = null;
                        this.rdv.prestataire = null;
                        this.rdv.client = null;
                        this.rdv.prestation = null;
                        this.rdv.code = null;
                        this.rdv.commentaire = null;
                      }
                      ,
                      getConfirmationRdv(){
                        if(this.rdv.code != null){
                          this.loading = true;
                          let url = "{{ path('rdv_confirmartion' , {prest:0} ) }}";
                          url = url.replace('0',this.rdv.prestataire);
                          this.$http.post(url , this.rdv).then(response => {
                            if(response){
                              this.loading = false;
                              if(response.data.code == 0){
                                this.$alert('Le code de confirmation est invalide', 'Erreur', {
                                  confirmButtonText: 'OK',
                                  callback: action => {
                                  }
                                }
                                           );
                              }
                              else{
                                this.etape = 3;
                                this.active = 3;
                              }
                            }
                          }
                                                               , response => {
                            this.loading = false;
                          }
                                                              );
                        }
                        else{
                          this.$alert('Tous les champs sont requis', 'Erreur', {
                            confirmButtonText: 'OK',
                            callback: action => {
                            }
                          }
                                     );
                        }
                      }
                      ,
                      getValidationRdv(){
                        if(this.rdv.prestataire != null && this.rdv.date != null
                           && this.rdv.heure != null && this.rdv.client != null
                           && this.rdv.prestation != null
                          ){
                          this.loading = true;
                          let url = "{{ path('rdv_validations' , {prest:0} ) }}";
                          url = url.replace('0',this.rdv.prestataire);
                          this.$http.post(url , this.rdv).then(response => {
                            if(response){
                              this.loading = false;
                              this.etape = 2;
                              this.active = 1;
                              this.tel = response.data.data;
                            }
                          }
                                                               , response => {
                            this.loading = false;
                          }
                                                              );
                        }
                        else{
                          this.$alert('Tous les champs sont requis', 'Erreur', {
                            confirmButtonText: 'OK',
                            callback: action => {
                            }
                          }
                                     );
                        }
                      }
                      ,
                      getAgendas(){
                        if(this.rdv.prestataire != null && this.rdv.date){
                          this.loading = true;
                          let url = "{{ path('prestataire_agendas' , {prest:0} ) }}";
                          url = url.replace('0',this.rdv.prestataire);
                          this.$http.post(url , this.rdv).then(response => {
                            if(response){
                              this.loading = false;
                              this.rdvs = JSON.parse(response.bodyText);
                            }
                          }
                                                               , response => {
                            this.loading = false;
                          }
                                                              );
                        }
                      }
                      ,
                      changePrest(){
                        this.prestataires = [];
                        let list = [];
                        this.rdv.prestataire = null;
                        this.rdvs = [];
                        this.prests.forEach((element) => {
                          element.prestations.forEach((prest) => {
                            if(prest.id == this.rdv.prestation){
                              list.push(element);
                            }
                          }
                                                     );
                        }
                                           );
                        this.prestataires = list;
                      }
                      ,
                      addRdv(start, end, allDay){
                        let date = new Date(start._d);
                        let today = new Date("{{ 'now'|date('Y-m-d') }}");
                        if(date > today){
                          this.rdv.date = date;
                          this.getInit();
                          this.dialogVisible = true;
                        }
                      }
                    }
                    ,
                    mounted: function () {
                      const  self = this;
                      if ($("#fullCalendar").length) {
                        var calendar, d, date, m, y;
                        date = new Date();
                        d = date.getDate();
                        m = date.getMonth();
                        y = date.getFullYear();
                        calendar = $("#fullCalendar").fullCalendar({
                          header: {
                            left: "prev,next today",
                            center: "title",
                            right: "month,agendaWeek,agendaDay"
                          }
                          ,
                          selectable: true,
                          selectHelper: true,
                          select: function select(start, end, allDay) {
                            self.addRdv(start, end, allDay);
                            return calendar.fullCalendar("unselect");
                          }
                          ,
                          editable: true,
                          events: []
                        }
                                                                  );
                      }
                    }
                    ,
                    delimiters: ['${', '}']
                  }
                         );
</script>
{% endblock js %}
