{% extends 'base.html.twig' %}

{% block title %}Rdv{% endblock %}

{% block body %}
    <h1>Rdv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rdv.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ rdv.date ? rdv.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CommentaireAvant</th>
                <td>{{ rdv.commentaireAvant }}</td>
            </tr>
            <tr>
                <th>CommentaireApres</th>
                <td>{{ rdv.commentaireApres }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ rdv.status }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ rdv.created ? rdv.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ rdv.modified ? rdv.modified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rdv_index') }}">back to list</a>

    <a href="{{ path('rdv_edit', {'id': rdv.id}) }}">edit</a>

    {{ include('rdv/_delete_form.html.twig') }}
{% endblock %}
